<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.AgentApplyMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.AgentApply" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="accident_province" property="accidentProvince" jdbcType="VARCHAR" />
    <result column="accident_city" property="accidentCity" jdbcType="VARCHAR" />
    <result column="accident_district" property="accidentDistrict" jdbcType="VARCHAR" />
    <result column="accident_province_id" property="accidentProvinceId" jdbcType="INTEGER" />
    <result column="accident_city_id" property="accidentCityId" jdbcType="INTEGER" />
    <result column="accident_district_id" property="accidentDistrictId" jdbcType="INTEGER" />
    <result column="accident_address" property="accidentAddress" jdbcType="VARCHAR" />
    <result column="agent_type" property="agentType" jdbcType="INTEGER" />
    <result column="claim_indemnity_desc" property="claimIndemnityDesc" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="reson" property="reson" jdbcType="VARCHAR" />
    <result column="agent_no" property="agentNo" jdbcType="VARCHAR" />
    <result column="is_read" property="isRead" jdbcType="INTEGER" />
    <result column="accident_time" property="accidentTime" jdbcType="TIMESTAMP" />
    <result column="is_fined" property="isFined" jdbcType="INTEGER" />
      <result column="user_promoted_name" property="userPromotedName" jdbcType="VARCHAR" />
      <result column="user_promoted_phone" property="userPromotedPhone" jdbcType="VARCHAR" />
      <result column="is_test_case" property="isTestcase" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, user_name, user_phone, accident_province, accident_city, accident_district, 
    accident_province_id, accident_city_id, accident_district_id, accident_address, agent_type, 
    claim_indemnity_desc, state, create_time, create_by, update_time, update_by, delete_flag, 
    reson, agent_no, is_read, accident_time,is_fined,user_promoted_name,user_promoted_phone,is_test_case
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from agent_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from agent_apply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.AgentApply" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into agent_apply (user_id, user_name, user_phone, 
      accident_province, accident_city, accident_district, 
      accident_province_id, accident_city_id, accident_district_id, 
      accident_address, agent_type, claim_indemnity_desc, 
      state, create_time, create_by, 
      update_time, update_by, delete_flag, 
      reson, agent_no, is_read, 
      accident_time, is_fined,user_promoted_name,user_promoted_phone,is_test_case)
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{accidentProvince,jdbcType=VARCHAR}, #{accidentCity,jdbcType=VARCHAR}, #{accidentDistrict,jdbcType=VARCHAR}, 
      #{accidentProvinceId,jdbcType=INTEGER}, #{accidentCityId,jdbcType=INTEGER}, #{accidentDistrictId,jdbcType=INTEGER}, 
      #{accidentAddress,jdbcType=VARCHAR}, #{agentType,jdbcType=INTEGER}, #{claimIndemnityDesc,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=INTEGER}, 
      #{reson,jdbcType=VARCHAR}, #{agentNo,jdbcType=VARCHAR}, #{isRead,jdbcType=INTEGER}, 
      #{accidentTime,jdbcType=TIMESTAMP}, #{isFined,jdbcType=INTEGER},#{userPromotedName,jdbcType=VARCHAR},
      #{userPromotedPhone,jdbcType=VARCHAR},#{isTestcase,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.AgentApply" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into agent_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="accidentProvince != null" >
        accident_province,
      </if>
      <if test="accidentCity != null" >
        accident_city,
      </if>
      <if test="accidentDistrict != null" >
        accident_district,
      </if>
      <if test="accidentProvinceId != null" >
        accident_province_id,
      </if>
      <if test="accidentCityId != null" >
        accident_city_id,
      </if>
      <if test="accidentDistrictId != null" >
        accident_district_id,
      </if>
      <if test="accidentAddress != null" >
        accident_address,
      </if>
      <if test="agentType != null" >
        agent_type,
      </if>
      <if test="claimIndemnityDesc != null" >
        claim_indemnity_desc,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="reson != null" >
        reson,
      </if>
      <if test="agentNo != null" >
        agent_no,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
      <if test="accidentTime != null" >
        accident_time,
      </if>
      <if test="isFined != null" >
          is_fined,
      </if>
        <if test="userPromotedName != null">
            user_promoted_name,
        </if>
        <if test="userPromotedPhone != null">
            user_promoted_phone,
        </if>
        <if test="isTestcase != null" >
            is_test_case
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="accidentProvince != null" >
        #{accidentProvince,jdbcType=VARCHAR},
      </if>
      <if test="accidentCity != null" >
        #{accidentCity,jdbcType=VARCHAR},
      </if>
      <if test="accidentDistrict != null" >
        #{accidentDistrict,jdbcType=VARCHAR},
      </if>
      <if test="accidentProvinceId != null" >
        #{accidentProvinceId,jdbcType=INTEGER},
      </if>
      <if test="accidentCityId != null" >
        #{accidentCityId,jdbcType=INTEGER},
      </if>
      <if test="accidentDistrictId != null" >
        #{accidentDistrictId,jdbcType=INTEGER},
      </if>
      <if test="accidentAddress != null" >
        #{accidentAddress,jdbcType=VARCHAR},
      </if>
      <if test="agentType != null" >
        #{agentType,jdbcType=INTEGER},
      </if>
      <if test="claimIndemnityDesc != null" >
        #{claimIndemnityDesc,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="reson != null" >
        #{reson,jdbcType=VARCHAR},
      </if>
      <if test="agentNo != null" >
        #{agentNo,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=INTEGER},
      </if>
      <if test="accidentTime != null" >
        #{accidentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isFined != null" >
        #{isFined,jdbcType=INTEGER},
      </if>
        <if test="userPromotedName != null" >
            #{userPromotedName,jdbcType=VARCHAR},
        </if>
        <if test="userPromotedPhone != null" >
            #{userPromotedPhone,jdbcType=VARCHAR},
        </if>
        <if test="isTestcase != null" >
            #{isTestcase,jdbcType=INTEGER},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.AgentApply" >
    update agent_apply
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="accidentProvince != null" >
        accident_province = #{accidentProvince,jdbcType=VARCHAR},
      </if>
      <if test="accidentCity != null" >
        accident_city = #{accidentCity,jdbcType=VARCHAR},
      </if>
      <if test="accidentDistrict != null" >
        accident_district = #{accidentDistrict,jdbcType=VARCHAR},
      </if>
      <if test="accidentProvinceId != null" >
        accident_province_id = #{accidentProvinceId,jdbcType=INTEGER},
      </if>
      <if test="accidentCityId != null" >
        accident_city_id = #{accidentCityId,jdbcType=INTEGER},
      </if>
      <if test="accidentDistrictId != null" >
        accident_district_id = #{accidentDistrictId,jdbcType=INTEGER},
      </if>
      <if test="accidentAddress != null" >
        accident_address = #{accidentAddress,jdbcType=VARCHAR},
      </if>
      <if test="agentType != null" >
        agent_type = #{agentType,jdbcType=INTEGER},
      </if>
      <if test="claimIndemnityDesc != null" >
        claim_indemnity_desc = #{claimIndemnityDesc,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="reson != null" >
        reson = #{reson,jdbcType=VARCHAR},
      </if>
      <if test="agentNo != null" >
        agent_no = #{agentNo,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        is_read = #{isRead,jdbcType=INTEGER},
      </if>
      <if test="accidentTime != null" >
        accident_time = #{accidentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isFined != null" >
        is_fined = #{isFined,jdbcType=INTEGER},
      </if>
        <if test="userPromotedName != null" >
            user_promoted_name = #{userPromotedName,jdbcType=VARCHAR},
        </if>
        <if test="userPromotedPhone != null" >
            user_promoted_phone = #{userPromotedPhone,jdbcType=VARCHAR},
        </if>
        <if test="isTestcase != null" >
            is_test_case = #{isTestcase,jdbcType=INTEGER},
        </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.AgentApply" >
    update agent_apply
    set user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      accident_province = #{accidentProvince,jdbcType=VARCHAR},
      accident_city = #{accidentCity,jdbcType=VARCHAR},
      accident_district = #{accidentDistrict,jdbcType=VARCHAR},
      accident_province_id = #{accidentProvinceId,jdbcType=INTEGER},
      accident_city_id = #{accidentCityId,jdbcType=INTEGER},
      accident_district_id = #{accidentDistrictId,jdbcType=INTEGER},
      accident_address = #{accidentAddress,jdbcType=VARCHAR},
      agent_type = #{agentType,jdbcType=INTEGER},
      claim_indemnity_desc = #{claimIndemnityDesc,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      reson = #{reson,jdbcType=VARCHAR},
      agent_no = #{agentNo,jdbcType=VARCHAR},
      is_read = #{isRead,jdbcType=INTEGER},
      accident_time = #{accidentTime,jdbcType=TIMESTAMP},
      is_fined = #{isFined,jdbcType=INTEGER},
      user_promoted_name = #{userPromotedName,jdbcType=VARCHAR},
       user_promoted_phone = #{userPromotedPhone,jdbcType=VARCHAR},
       is_test_case = #{isTestcase,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="searchAgentApplyByAgentNo" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <include refid="Base_Column_List" />
        from agent_apply
        where agent_no = #{caseNo,jdbcType=VARCHAR} order by id desc limit 1
    </select>

    <select id="selectAgentApplyByParam" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from agent_apply where user_name = #{userName,jdbcType=VARCHAR} and user_phone = #{userPhone,jdbcType=VARCHAR}
        and accident_province_id = #{accidentProvinceId,jdbcType=INTEGER} and accident_city_id = #{accidentCityId,jdbcType=INTEGER}
        and accident_district_id = #{accidentDistrictId,jdbcType=INTEGER} and accident_time = #{accidentTime,jdbcType=TIMESTAMP}
    </select>
</mapper>