<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.BillingApplyImgsMapper" >
    <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.BillingApplyImgs" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="bill_id" property="billId" jdbcType="BIGINT" />
        <result column="billing_code" property="billingCode" jdbcType="VARCHAR" />
        <result column="billing_imgs" property="billingImgs" jdbcType="VARCHAR" />
        <result column="create_by_id" property="createById" jdbcType="BIGINT" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="billing_money" property="billingMoney" jdbcType="DOUBLE" />
        <result column="state_update_time" property="stateUpdateTime" jdbcType="TIMESTAMP" />
        <result column="state_update_by_id" property="stateUpdateById" jdbcType="BIGINT" />
        <result column="state_update_by" property="stateUpdateBy" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="pay_state" property="payState" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, bill_id, billing_code, billing_imgs, create_by_id, create_by, create_time, state,
        billing_money, state_update_time, state_update_by_id, state_update_by, type,pay_state
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from billing_apply_imgs
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from billing_apply_imgs
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByBillImgId">
         delete from billing_apply_accounts
        where bill_imgs_id = #{billImgId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.lefancrm.apicenter.model.BillingApplyImgs" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into billing_apply_imgs (bill_id, billing_code, billing_imgs,
        create_by_id, create_by, create_time,
        state, billing_money, state_update_time,
        state_update_by_id, state_update_by, type,pay_state
        )
        values (#{billId,jdbcType=BIGINT}, #{billingCode,jdbcType=VARCHAR}, #{billingImgs,jdbcType=VARCHAR},
        #{createById,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{state,jdbcType=INTEGER}, #{billingMoney,jdbcType=DOUBLE}, #{stateUpdateTime,jdbcType=TIMESTAMP},
        #{stateUpdateById,jdbcType=BIGINT}, #{stateUpdateBy,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},#{payState,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.BillingApplyImgs" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into billing_apply_imgs
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="billId != null" >
                bill_id,
            </if>
            <if test="billingCode != null" >
                billing_code,
            </if>
            <if test="billingImgs != null" >
                billing_imgs,
            </if>
            <if test="createById != null" >
                create_by_id,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="billingMoney != null" >
                billing_money,
            </if>
            <if test="stateUpdateTime != null" >
                state_update_time,
            </if>
            <if test="stateUpdateById != null" >
                state_update_by_id,
            </if>
            <if test="stateUpdateBy != null" >
                state_update_by,
            </if>
            <if test="type != null" >
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="billId != null" >
                #{billId,jdbcType=BIGINT},
            </if>
            <if test="billingCode != null" >
                #{billingCode,jdbcType=VARCHAR},
            </if>
            <if test="billingImgs != null" >
                #{billingImgs,jdbcType=VARCHAR},
            </if>
            <if test="createById != null" >
                #{createById,jdbcType=BIGINT},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null" >
                #{state,jdbcType=INTEGER},
            </if>
            <if test="billingMoney != null" >
                #{billingMoney,jdbcType=DOUBLE},
            </if>
            <if test="stateUpdateTime != null" >
                #{stateUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stateUpdateById != null" >
                #{stateUpdateById,jdbcType=BIGINT},
            </if>
            <if test="stateUpdateBy != null" >
                #{stateUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.BillingApplyImgs" >
        update billing_apply_imgs
        <set >
            <if test="billId != null" >
                bill_id = #{billId,jdbcType=BIGINT},
            </if>
            <if test="billingCode != null" >
                billing_code = #{billingCode,jdbcType=VARCHAR},
            </if>
            <if test="billingImgs != null" >
                billing_imgs = #{billingImgs,jdbcType=VARCHAR},
            </if>
            <if test="createById != null" >
                create_by_id = #{createById,jdbcType=BIGINT},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="billingMoney != null" >
                billing_money = #{billingMoney,jdbcType=DOUBLE},
            </if>
            <if test="stateUpdateTime != null" >
                state_update_time = #{stateUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stateUpdateById != null" >
                state_update_by_id = #{stateUpdateById,jdbcType=BIGINT},
            </if>
            <if test="stateUpdateBy != null" >
                state_update_by = #{stateUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="payState != null" >
                pay_state = #{payState,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.BillingApplyImgs" >
        update billing_apply_imgs
        set bill_id = #{billId,jdbcType=BIGINT},
        billing_code = #{billingCode,jdbcType=VARCHAR},
        billing_imgs = #{billingImgs,jdbcType=VARCHAR},
        create_by_id = #{createById,jdbcType=BIGINT},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        state = #{state,jdbcType=INTEGER},
        billing_money = #{billingMoney,jdbcType=DOUBLE},
        state_update_time = #{stateUpdateTime,jdbcType=TIMESTAMP},
        state_update_by_id = #{stateUpdateById,jdbcType=BIGINT},
        state_update_by = #{stateUpdateBy,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        pay_state = #{payState,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectListByBillId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from billing_apply_imgs
        where bill_id = #{id,jdbcType=BIGINT}
    </select>


    <select id="selectBillMoneyByBillId" resultType="java.lang.Double" parameterType="java.lang.Long" >
        select
        sum(b.billing_money)
        from billing_apply_imgs b
        where b.bill_id = #{billId,jdbcType=BIGINT} and state = 1;
    </select>
    <select id="repeatBillingCodeCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM billing_apply_imgs WHERE FIND_IN_SET(billing_code,#{billingCode}) and state = 1
    </select>

</mapper>