<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.BillingApplyCorporationMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.BillingApplyCorporation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="tax_rate" property="taxRate" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, create_by, create_time, update_by, update_time, delete_flag,tax_rate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from billing_apply_corporation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from billing_apply_corporation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.BillingApplyCorporation" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into billing_apply_corporation (name, create_by, create_time, 
      update_by, update_time, delete_flag,tax_rate
      )
    values (#{name,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER}, #{taxRate,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.BillingApplyCorporation" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into billing_apply_corporation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="taxRate != null" >
        tax_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.BillingApplyCorporation" >
    update billing_apply_corporation
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.BillingApplyCorporation" >
    update billing_apply_corporation
    set name = #{name,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      tax_rate = #{taxRate,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="joins">

    </sql>
    <sql id="wheres">
        <if test="name != null" >
            and name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
      <if test="enums144 == 144">
        and name like '%公估%'
      </if>
    </sql>
    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from billing_apply_corporation
        <include refid="joins" />
        where delete_flag=0
        <include refid="wheres" />
        order by id desc
        <if test="pageIndex != null and pageSize != null">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>
    <select id="listSize" parameterType="map" resultType="int">
        select
        count(1)
        from billing_apply_corporation
        <include refid="joins" />
        where delete_flag=0
        <include refid="wheres" />
    </select>

  <select id="getDtos" parameterType="map" resultType="com.lefancrm.apicenter.dto.BillingApplyCorporationDto">
    select a.*,(case when r.id is null then 0 else 1 end) as selected
    from billing_apply_corporation a
    left join bus_apply_corporation_role  r on a.id = r.corporation_id and r.role_id = #{roleId,jdbcType=BIGINT}
    order by a.id
  </select>
  <select id="srCompanyBillData" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.dto.think.SRCompanyDTO">
    select i.billing_money billMoney,(i.billing_money - i.billing_money / b.tax_rate) billMoneyTax,e.id proId,e.enum_name proName,b.business_type commpanyId,
    c.name commpanyName
    from billing_apply_imgs i
    left join billing_apply b on i.bill_id = b.id
    LEFT JOIN billing_apply_corporation c on c.id=b.billing_type
    left join common_enum e on b.billing_enum = e.enum_code and e.parent_id = 76
    where i.state in (1,3) and i.create_time is not null and b.billing_type is not null
    <if test="startTime != null">
      and date_format(i.create_time,'%Y-%m') &gt;= date_format(#{startTime,jdbcType=DATE},'%Y-%m')
    </if>
    <if test="endTime != null">
      and date_format(i.create_time,'%Y-%m') &lt;= date_format(#{endTime,jdbcType=DATE},'%Y-%m')
    </if>
  </select>
  <select id="srAccCompanyData" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.dto.think.SRCompanyDTO">
    select a.money accMoney,a.money * b.tax_rate accMoneyTax,e.id proId,e.enum_name proName,b.business_type commpanyId
    ,c.name commpanyName
    from billing_apply_accounts a
    left join billing_apply b on a.bill_id = b.id
    LEFT JOIN billing_apply_corporation c on c.id=b.billing_type
    left join common_enum e on b.billing_enum = e.enum_code and e.parent_id = 76
    where a.state = 1 and a.create_time is not null and b.billing_type is not null
    <if test="startTime != null">
      and date_format(a.account_time,'%Y-%m') &gt;= date_format(#{startTime,jdbcType=DATE},'%Y-%m')
    </if>
    <if test="endTime != null">
      and date_format(a.account_time,'%Y-%m') &lt;= date_format(#{endTime,jdbcType=DATE},'%Y-%m')
    </if>
  </select>
</mapper>