<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.BillingApplyCorporationEnumMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.BillingApplyCorporationEnum" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="corporation_id" property="corporationId" jdbcType="BIGINT" />
    <result column="corporation_name" property="corporationName" jdbcType="VARCHAR" />
    <result column="billing_enum_id" property="billingEnumId" jdbcType="BIGINT" />
    <result column="billing_enum_name" property="billingEnumName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, corporation_id, corporation_name, billing_enum_id, billing_enum_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from billing_apply_corporation_enum
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from billing_apply_corporation_enum
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.BillingApplyCorporationEnum" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into billing_apply_corporation_enum (corporation_id, corporation_name, billing_enum_id, 
      billing_enum_name)
    values (#{corporationId,jdbcType=BIGINT}, #{corporationName,jdbcType=VARCHAR}, #{billingEnumId,jdbcType=BIGINT}, 
      #{billingEnumName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.BillingApplyCorporationEnum" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into billing_apply_corporation_enum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="corporationId != null" >
        corporation_id,
      </if>
      <if test="corporationName != null" >
        corporation_name,
      </if>
      <if test="billingEnumId != null" >
        billing_enum_id,
      </if>
      <if test="billingEnumName != null" >
        billing_enum_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="corporationId != null" >
        #{corporationId,jdbcType=BIGINT},
      </if>
      <if test="corporationName != null" >
        #{corporationName,jdbcType=VARCHAR},
      </if>
      <if test="billingEnumId != null" >
        #{billingEnumId,jdbcType=BIGINT},
      </if>
      <if test="billingEnumName != null" >
        #{billingEnumName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.BillingApplyCorporationEnum" >
    update billing_apply_corporation_enum
    <set >
      <if test="corporationId != null" >
        corporation_id = #{corporationId,jdbcType=BIGINT},
      </if>
      <if test="corporationName != null" >
        corporation_name = #{corporationName,jdbcType=VARCHAR},
      </if>
      <if test="billingEnumId != null" >
        billing_enum_id = #{billingEnumId,jdbcType=BIGINT},
      </if>
      <if test="billingEnumName != null" >
        billing_enum_name = #{billingEnumName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.BillingApplyCorporationEnum" >
    update billing_apply_corporation_enum
    set corporation_id = #{corporationId,jdbcType=BIGINT},
      corporation_name = #{corporationName,jdbcType=VARCHAR},
      billing_enum_id = #{billingEnumId,jdbcType=BIGINT},
      billing_enum_name = #{billingEnumName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="joins">

    </sql>
    <sql id="wheres">
        <if test="corporationId != null" >
            and corporation_id = #{corporationId,jdbcType=BIGINT}
        </if>
        <if test="billingEnumId != null" >
            and billing_enum_id = #{billingEnumId,jdbcType=BIGINT}
        </if>
    </sql>
    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from billing_apply_corporation_enum
        <include refid="joins" />
        where 1=1
        <include refid="wheres" />
        order by id desc
        <if test="pageIndex != null and pageSize != null">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>
    <select id="listSize" parameterType="map" resultType="int">
        select
        count(1)
        from billing_apply_corporation_enum
        <include refid="joins" />
        where 1=1
        <include refid="wheres" />
    </select>

    <select id="selectByInfo" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from billing_apply_corporation_enum
        <include refid="joins" />
        where 1=1 and corporation_id = #{corporationId,jdbcType=BIGINT} and billing_enum_id = #{billingEnumId,jdbcType=BIGINT} limit 1
    </select>

    <delete id="deleteByInfo"  parameterType="map">
        delete from billing_apply_corporation_enum
        where 1=1
        <include refid="wheres" />
    </delete>

    <select id="selectByRoleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
      SELECT
      <include refid="Base_Column_List" />
      FROM billing_apply_corporation_enum e
      WHERE
        e.corporation_id IN (
            (
                SELECT b.corporation_id FROM bus_apply_corporation_role b
                WHERE b.role_id = #{roleId,jdbcType=BIGINT}
            )
        )
    </select>
</mapper>