<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.CaseLoanReportMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.CaseLoanReport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="total_lefan_loan_money" property="totalLefanLoanMoney" jdbcType="DOUBLE" />
    <result column="total_suning_loan_money" property="totalSuningLoanMoney" jdbcType="DOUBLE" />
    <result column="total_lefan_return_money" property="totalLefanReturnMoney" jdbcType="DOUBLE" />
    <result column="total_suning_return_money" property="totalSuningReturnMoney" jdbcType="DOUBLE" />
    <result column="total_lefan_receivable_money" property="totalLefanReceivableMoney" jdbcType="DOUBLE" />
    <result column="total_suning_receivable_money" property="totalSuningReceivableMoney" jdbcType="DOUBLE" />
    <result column="total_lfloan_day_money" property="totalLfloanDayMoney" jdbcType="DOUBLE" />
    <result column="total_snloan_day_money" property="totalSnloanDayMoney" jdbcType="DOUBLE" />
    <result column="total_lfreturn_day_money" property="totalLfreturnDayMoney" jdbcType="DOUBLE" />
    <result column="total_snreturn_day_money" property="totalSnreturnDayMoney" jdbcType="DOUBLE" />
    <result column="total_lfloan_month_money" property="totalLfloanMonthMoney" jdbcType="DOUBLE" />
    <result column="total_snloan_month_money" property="totalSnloanMonthMoney" jdbcType="DOUBLE" />
    <result column="total_lfreturn_month_money" property="totalLfreturnMonthMoney" jdbcType="DOUBLE" />
    <result column="total_snreturn_month_money" property="totalSnreturnMonthMoney" jdbcType="DOUBLE" />
    <result column="loan_four_num" property="loanFourNum" jdbcType="INTEGER" />
    <result column="loan_six_num" property="loanSixNum" jdbcType="INTEGER" />
    <result column="loan_eight_num" property="loanEightNum" jdbcType="INTEGER" />
    <result column="loan_ten_num" property="loanTenNum" jdbcType="INTEGER" />
    <result column="loan_dec_num" property="loanDecNum" jdbcType="INTEGER" />
    <result column="loan_outdec_num" property="loanOutdecNum" jdbcType="INTEGER" />
    <result column="loan_expect_num" property="loanExpectNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, org_id, org_name, date, total_lefan_loan_money, total_suning_loan_money, total_lefan_return_money,
    total_suning_return_money, total_lefan_receivable_money, total_suning_receivable_money,
    total_lfloan_day_money, total_snloan_day_money, total_lfreturn_day_money, total_snreturn_day_money,
    total_lfloan_month_money, total_snloan_month_money, total_lfreturn_month_money, total_snreturn_month_money,
    loan_four_num, loan_six_num, loan_eight_num, loan_ten_num, loan_dec_num, loan_outdec_num,
    loan_expect_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from case_loan_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from case_loan_report
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.CaseLoanReport" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into case_loan_report (org_id, org_name, date, 
      total_lefan_loan_money, total_suning_loan_money, 
      total_lefan_return_money, total_suning_return_money, 
      total_lefan_receivable_money, total_suning_receivable_money, 
      total_lfloan_day_money, total_snloan_day_money, 
      total_lfreturn_day_money, total_snreturn_day_money, 
      total_lfloan_month_money, total_snloan_month_money, 
      total_lfreturn_month_money, total_snreturn_month_money, 
      loan_four_num, loan_six_num, loan_eight_num, 
      loan_ten_num, loan_dec_num, loan_outdec_num, 
      loan_expect_num)
    values (#{orgId,jdbcType=BIGINT}, #{orgName,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, 
      #{totalLefanLoanMoney,jdbcType=DOUBLE}, #{totalSuningLoanMoney,jdbcType=DOUBLE}, 
      #{totalLefanReturnMoney,jdbcType=DOUBLE}, #{totalSuningReturnMoney,jdbcType=DOUBLE}, 
      #{totalLefanReceivableMoney,jdbcType=DOUBLE}, #{totalSuningReceivableMoney,jdbcType=DOUBLE}, 
      #{totalLfloanDayMoney,jdbcType=DOUBLE}, #{totalSnloanDayMoney,jdbcType=DOUBLE}, 
      #{totalLfreturnDayMoney,jdbcType=DOUBLE}, #{totalSnreturnDayMoney,jdbcType=DOUBLE}, 
      #{totalLfloanMonthMoney,jdbcType=DOUBLE}, #{totalSnloanMonthMoney,jdbcType=DOUBLE}, 
      #{totalLfreturnMonthMoney,jdbcType=DOUBLE}, #{totalSnreturnMonthMoney,jdbcType=DOUBLE}, 
      #{loanFourNum,jdbcType=INTEGER}, #{loanSixNum,jdbcType=INTEGER}, #{loanEightNum,jdbcType=INTEGER}, 
      #{loanTenNum,jdbcType=INTEGER}, #{loanDecNum,jdbcType=INTEGER}, #{loanOutdecNum,jdbcType=INTEGER}, 
      #{loanExpectNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.CaseLoanReport" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into case_loan_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="totalLefanLoanMoney != null" >
        total_lefan_loan_money,
      </if>
      <if test="totalSuningLoanMoney != null" >
        total_suning_loan_money,
      </if>
      <if test="totalLefanReturnMoney != null" >
        total_lefan_return_money,
      </if>
      <if test="totalSuningReturnMoney != null" >
        total_suning_return_money,
      </if>
      <if test="totalLefanReceivableMoney != null" >
        total_lefan_receivable_money,
      </if>
      <if test="totalSuningReceivableMoney != null" >
        total_suning_receivable_money,
      </if>
      <if test="totalLfloanDayMoney != null" >
        total_lfloan_day_money,
      </if>
      <if test="totalSnloanDayMoney != null" >
        total_snloan_day_money,
      </if>
      <if test="totalLfreturnDayMoney != null" >
        total_lfreturn_day_money,
      </if>
      <if test="totalSnreturnDayMoney != null" >
        total_snreturn_day_money,
      </if>
      <if test="totalLfloanMonthMoney != null" >
        total_lfloan_month_money,
      </if>
      <if test="totalSnloanMonthMoney != null" >
        total_snloan_month_money,
      </if>
      <if test="totalLfreturnMonthMoney != null" >
        total_lfreturn_month_money,
      </if>
      <if test="totalSnreturnMonthMoney != null" >
        total_snreturn_month_money,
      </if>
      <if test="loanFourNum != null" >
        loan_four_num,
      </if>
      <if test="loanSixNum != null" >
        loan_six_num,
      </if>
      <if test="loanEightNum != null" >
        loan_eight_num,
      </if>
      <if test="loanTenNum != null" >
        loan_ten_num,
      </if>
      <if test="loanDecNum != null" >
        loan_dec_num,
      </if>
      <if test="loanOutdecNum != null" >
        loan_outdec_num,
      </if>
      <if test="loanExpectNum != null" >
        loan_expect_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="totalLefanLoanMoney != null" >
        #{totalLefanLoanMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSuningLoanMoney != null" >
        #{totalSuningLoanMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLefanReturnMoney != null" >
        #{totalLefanReturnMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSuningReturnMoney != null" >
        #{totalSuningReturnMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLefanReceivableMoney != null" >
        #{totalLefanReceivableMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSuningReceivableMoney != null" >
        #{totalSuningReceivableMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLfloanDayMoney != null" >
        #{totalLfloanDayMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSnloanDayMoney != null" >
        #{totalSnloanDayMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLfreturnDayMoney != null" >
        #{totalLfreturnDayMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSnreturnDayMoney != null" >
        #{totalSnreturnDayMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLfloanMonthMoney != null" >
        #{totalLfloanMonthMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSnloanMonthMoney != null" >
        #{totalSnloanMonthMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLfreturnMonthMoney != null" >
        #{totalLfreturnMonthMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSnreturnMonthMoney != null" >
        #{totalSnreturnMonthMoney,jdbcType=DOUBLE},
      </if>
      <if test="loanFourNum != null" >
        #{loanFourNum,jdbcType=INTEGER},
      </if>
      <if test="loanSixNum != null" >
        #{loanSixNum,jdbcType=INTEGER},
      </if>
      <if test="loanEightNum != null" >
        #{loanEightNum,jdbcType=INTEGER},
      </if>
      <if test="loanTenNum != null" >
        #{loanTenNum,jdbcType=INTEGER},
      </if>
      <if test="loanDecNum != null" >
        #{loanDecNum,jdbcType=INTEGER},
      </if>
      <if test="loanOutdecNum != null" >
        #{loanOutdecNum,jdbcType=INTEGER},
      </if>
      <if test="loanExpectNum != null" >
        #{loanExpectNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.CaseLoanReport" >
    update case_loan_report
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="totalLefanLoanMoney != null" >
        total_lefan_loan_money = #{totalLefanLoanMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSuningLoanMoney != null" >
        total_suning_loan_money = #{totalSuningLoanMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLefanReturnMoney != null" >
        total_lefan_return_money = #{totalLefanReturnMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSuningReturnMoney != null" >
        total_suning_return_money = #{totalSuningReturnMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLefanReceivableMoney != null" >
        total_lefan_receivable_money = #{totalLefanReceivableMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSuningReceivableMoney != null" >
        total_suning_receivable_money = #{totalSuningReceivableMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLfloanDayMoney != null" >
        total_lfloan_day_money = #{totalLfloanDayMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSnloanDayMoney != null" >
        total_snloan_day_money = #{totalSnloanDayMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLfreturnDayMoney != null" >
        total_lfreturn_day_money = #{totalLfreturnDayMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSnreturnDayMoney != null" >
        total_snreturn_day_money = #{totalSnreturnDayMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLfloanMonthMoney != null" >
        total_lfloan_month_money = #{totalLfloanMonthMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSnloanMonthMoney != null" >
        total_snloan_month_money = #{totalSnloanMonthMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalLfreturnMonthMoney != null" >
        total_lfreturn_month_money = #{totalLfreturnMonthMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalSnreturnMonthMoney != null" >
        total_snreturn_month_money = #{totalSnreturnMonthMoney,jdbcType=DOUBLE},
      </if>
      <if test="loanFourNum != null" >
        loan_four_num = #{loanFourNum,jdbcType=INTEGER},
      </if>
      <if test="loanSixNum != null" >
        loan_six_num = #{loanSixNum,jdbcType=INTEGER},
      </if>
      <if test="loanEightNum != null" >
        loan_eight_num = #{loanEightNum,jdbcType=INTEGER},
      </if>
      <if test="loanTenNum != null" >
        loan_ten_num = #{loanTenNum,jdbcType=INTEGER},
      </if>
      <if test="loanDecNum != null" >
        loan_dec_num = #{loanDecNum,jdbcType=INTEGER},
      </if>
      <if test="loanOutdecNum != null" >
        loan_outdec_num = #{loanOutdecNum,jdbcType=INTEGER},
      </if>
      <if test="loanExpectNum != null" >
        loan_expect_num = #{loanExpectNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.CaseLoanReport" >
    update case_loan_report
    set org_id = #{orgId,jdbcType=BIGINT},
      org_name = #{orgName,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      total_lefan_loan_money = #{totalLefanLoanMoney,jdbcType=DOUBLE},
      total_suning_loan_money = #{totalSuningLoanMoney,jdbcType=DOUBLE},
      total_lefan_return_money = #{totalLefanReturnMoney,jdbcType=DOUBLE},
      total_suning_return_money = #{totalSuningReturnMoney,jdbcType=DOUBLE},
      total_lefan_receivable_money = #{totalLefanReceivableMoney,jdbcType=DOUBLE},
      total_suning_receivable_money = #{totalSuningReceivableMoney,jdbcType=DOUBLE},
      total_lfloan_day_money = #{totalLfloanDayMoney,jdbcType=DOUBLE},
      total_snloan_day_money = #{totalSnloanDayMoney,jdbcType=DOUBLE},
      total_lfreturn_day_money = #{totalLfreturnDayMoney,jdbcType=DOUBLE},
      total_snreturn_day_money = #{totalSnreturnDayMoney,jdbcType=DOUBLE},
      total_lfloan_month_money = #{totalLfloanMonthMoney,jdbcType=DOUBLE},
      total_snloan_month_money = #{totalSnloanMonthMoney,jdbcType=DOUBLE},
      total_lfreturn_month_money = #{totalLfreturnMonthMoney,jdbcType=DOUBLE},
      total_snreturn_month_money = #{totalSnreturnMonthMoney,jdbcType=DOUBLE},
      loan_four_num = #{loanFourNum,jdbcType=INTEGER},
      loan_six_num = #{loanSixNum,jdbcType=INTEGER},
      loan_eight_num = #{loanEightNum,jdbcType=INTEGER},
      loan_ten_num = #{loanTenNum,jdbcType=INTEGER},
      loan_dec_num = #{loanDecNum,jdbcType=INTEGER},
      loan_outdec_num = #{loanOutdecNum,jdbcType=INTEGER},
      loan_expect_num = #{loanExpectNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <include refid="Base_Column_List" />
        from case_loan_report b
        <where>
            <if test="orgId != null" >
                and org_id = #{orgId,jdbcType=BIGINT}
            </if>
            <if test="today == 1" >
                and date_format(date,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d')
            </if>
            <if test="today != 1" >
                <if test="startDate != null" >
                    and DATE_FORMAT(date,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startDate,jdbcType=DATE},'%Y-%m-%d')
                </if>
                <if test="endDate != null" >
                    and DATE_FORMAT(date,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate,jdbcType=DATE},'%Y-%m-%d')
                </if>
            </if>
        </where>
        <if test="export != 1">
            order by date desc,org_id asc limit #{pageIndex} , #{pageSize}
        </if>
    </select>

    <select id="selectCountList" resultType="int" parameterType="java.util.Map" >
        select count(1) from case_loan_report b
        <where>
            <if test="orgId != null" >
                and org_id = #{orgId,jdbcType=BIGINT}
            </if>
            <if test="today == 1" >
                and date_format(date,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d')
            </if>
            <if test="today != 1" >
                <if test="startDate != null" >
                    and DATE_FORMAT(date,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startDate,jdbcType=DATE},'%Y-%m-%d')
                </if>
                <if test="endDate != null" >
                    and DATE_FORMAT(date,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate,jdbcType=DATE},'%Y-%m-%d')
                </if>
            </if>
        </where>
    </select>
</mapper>