<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.ClaimsApplyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.ClaimsApplyInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="insured_name" property="insuredName" jdbcType="VARCHAR" />
    <result column="link_tel" property="linkTel" jdbcType="VARCHAR" />
    <result column="insurance_company" property="insuranceCompany" jdbcType="VARCHAR" />
    <result column="insurance_type" property="insuranceType" jdbcType="INTEGER" />
    <result column="handle_state" property="handleState" jdbcType="INTEGER" />
    <result column="handle_user" property="handleUser" jdbcType="VARCHAR" />
    <result column="handle_time" property="handleTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, insured_name, link_tel, insurance_company, insurance_type, handle_state, handle_user, 
    handle_time, create_time, create_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from claims_apply_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from claims_apply_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.ClaimsApplyInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into claims_apply_info (insured_name, link_tel, insurance_company, 
      insurance_type, handle_state, handle_user, 
      handle_time, create_time, create_by
      )
    values (#{insuredName,jdbcType=VARCHAR}, #{linkTel,jdbcType=VARCHAR}, #{insuranceCompany,jdbcType=VARCHAR}, 
      #{insuranceType,jdbcType=INTEGER}, #{handleState,jdbcType=INTEGER}, #{handleUser,jdbcType=VARCHAR}, 
      #{handleTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.ClaimsApplyInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into claims_apply_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="insuredName != null" >
        insured_name,
      </if>
      <if test="linkTel != null" >
        link_tel,
      </if>
      <if test="insuranceCompany != null" >
        insurance_company,
      </if>
      <if test="insuranceType != null" >
        insurance_type,
      </if>
      <if test="handleState != null" >
        handle_state,
      </if>
      <if test="handleUser != null" >
        handle_user,
      </if>
      <if test="handleTime != null" >
        handle_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="insuredName != null" >
        #{insuredName,jdbcType=VARCHAR},
      </if>
      <if test="linkTel != null" >
        #{linkTel,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCompany != null" >
        #{insuranceCompany,jdbcType=VARCHAR},
      </if>
      <if test="insuranceType != null" >
        #{insuranceType,jdbcType=INTEGER},
      </if>
      <if test="handleState != null" >
        #{handleState,jdbcType=INTEGER},
      </if>
      <if test="handleUser != null" >
        #{handleUser,jdbcType=VARCHAR},
      </if>
      <if test="handleTime != null" >
        #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.ClaimsApplyInfo" >
    update claims_apply_info
    <set >
      <if test="insuredName != null" >
        insured_name = #{insuredName,jdbcType=VARCHAR},
      </if>
      <if test="linkTel != null" >
        link_tel = #{linkTel,jdbcType=VARCHAR},
      </if>
      <if test="insuranceCompany != null" >
        insurance_company = #{insuranceCompany,jdbcType=VARCHAR},
      </if>
      <if test="insuranceType != null" >
        insurance_type = #{insuranceType,jdbcType=INTEGER},
      </if>
      <if test="handleState != null" >
        handle_state = #{handleState,jdbcType=INTEGER},
      </if>
      <if test="handleUser != null" >
        handle_user = #{handleUser,jdbcType=VARCHAR},
      </if>
      <if test="handleTime != null" >
        handle_time = #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.ClaimsApplyInfo" >
    update claims_apply_info
    set insured_name = #{insuredName,jdbcType=VARCHAR},
      link_tel = #{linkTel,jdbcType=VARCHAR},
      insurance_company = #{insuranceCompany,jdbcType=VARCHAR},
      insurance_type = #{insuranceType,jdbcType=INTEGER},
      handle_state = #{handleState,jdbcType=INTEGER},
      handle_user = #{handleUser,jdbcType=VARCHAR},
      handle_time = #{handleTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="joins">

    </sql>
    <sql id="wheres">
        <if test="insuredName != null" >
            and insured_name like CONCAT(CONCAT('%',replace(#{insuredName,jdbcType=VARCHAR},' ','')), '%')
        </if>
        <if test="linkTel != null" >
            and link_tel like CONCAT(CONCAT('%',replace(#{linkTel,jdbcType=VARCHAR},' ','')), '%')
        </if>
        <if test="insuranceCompany != null" >
            and insurance_company like CONCAT(CONCAT('%',replace(#{insuranceCompany,jdbcType=VARCHAR},' ','')), '%')
        </if>
        <if test="insuranceType != null" >
            and insurance_type = #{insuranceType,jdbcType=INTEGER}
        </if>
        <if test="handleState != null" >
            and handle_state = #{handleState,jdbcType=INTEGER}
        </if>
        <if test="handleUser != null" >
            and handle_user like CONCAT(CONCAT('%',replace(#{handleUser,jdbcType=VARCHAR},' ','')), '%')
        </if>
        <if test="startTime != null" >
            and DATE_FORMAT(handle_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startTime,jdbcType=DATE},'%Y-%m-%d')
        </if>
        <if test="endTime != null" >
            and DATE_FORMAT(handle_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime,jdbcType=DATE},'%Y-%m-%d')
        </if>
        <if test="createStartTime != null" >
            and DATE_FORMAT(create_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{createStartTime,jdbcType=DATE},'%Y-%m-%d')
        </if>
        <if test="createEndTime != null" >
            and DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{createEndTime,jdbcType=DATE},'%Y-%m-%d')
        </if>
    </sql>
    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from claims_apply_info
        <include refid="joins" />
        where 1=1
        <include refid="wheres" />
        order by id desc
        <if test="pageIndex != null and pageSize != null">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>
    <select id="listSize" parameterType="map" resultType="int">
        select
        count(1)
        from claims_apply_info
        <include refid="joins" />
        where 1=1
        <include refid="wheres" />
    </select>
</mapper>