<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.FinancialReProgresMapper" >
    <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.FinancialReProgres" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="financial_re_apply_id" property="financialReApplyId" jdbcType="BIGINT" />
        <result column="progress_user_id" property="progressUserId" jdbcType="BIGINT" />
        <result column="progress_user_name" property="progressUserName" jdbcType="VARCHAR" />
        <result column="progress_name" property="progressName" jdbcType="VARCHAR" />
        <result column="progress_desc" property="progressDesc" jdbcType="VARCHAR" />
        <result column="progress_time" property="progressTime" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
        <result column="state_str" property="stateStr" jdbcType="VARCHAR" />
        <result column="details" property="details" jdbcType="VARCHAR" />
        <result column="progress_type" property="progressType" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, financial_re_apply_id, progress_user_id, progress_user_name, progress_name, progress_desc,
        progress_time, create_by, create_time, update_by, update_time, delete_flag, state_str,
        details, progress_type
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from financial_re_progres
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from financial_re_progres
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.lefancrm.apicenter.model.FinancialReProgres" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into financial_re_progres (financial_re_apply_id, progress_user_id,
        progress_user_name, progress_name, progress_desc,
        progress_time, create_by, create_time,
        update_by, update_time, delete_flag,
        state_str, details, progress_type
        )
        values (#{financialReApplyId,jdbcType=BIGINT}, #{progressUserId,jdbcType=BIGINT},
        #{progressUserName,jdbcType=VARCHAR}, #{progressName,jdbcType=VARCHAR}, #{progressDesc,jdbcType=VARCHAR},
        #{progressTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER},
        #{stateStr,jdbcType=VARCHAR}, #{details,jdbcType=VARCHAR}, #{progressType,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.FinancialReProgres" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into financial_re_progres
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="financialReApplyId != null" >
                financial_re_apply_id,
            </if>
            <if test="progressUserId != null" >
                progress_user_id,
            </if>
            <if test="progressUserName != null" >
                progress_user_name,
            </if>
            <if test="progressName != null" >
                progress_name,
            </if>
            <if test="progressDesc != null" >
                progress_desc,
            </if>
            <if test="progressTime != null" >
                progress_time,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="deleteFlag != null" >
                delete_flag,
            </if>
            <if test="stateStr != null" >
                state_str,
            </if>
            <if test="details != null" >
                details,
            </if>
            <if test="progressType != null" >
                progress_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="financialReApplyId != null" >
                #{financialReApplyId,jdbcType=BIGINT},
            </if>
            <if test="progressUserId != null" >
                #{progressUserId,jdbcType=BIGINT},
            </if>
            <if test="progressUserName != null" >
                #{progressUserName,jdbcType=VARCHAR},
            </if>
            <if test="progressName != null" >
                #{progressName,jdbcType=VARCHAR},
            </if>
            <if test="progressDesc != null" >
                #{progressDesc,jdbcType=VARCHAR},
            </if>
            <if test="progressTime != null" >
                #{progressTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null" >
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="stateStr != null" >
                #{stateStr,jdbcType=VARCHAR},
            </if>
            <if test="details != null" >
                #{details,jdbcType=VARCHAR},
            </if>
            <if test="progressType != null" >
                #{progressType,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.FinancialReProgres" >
        update financial_re_progres
        <set >
            <if test="financialReApplyId != null" >
                financial_re_apply_id = #{financialReApplyId,jdbcType=BIGINT},
            </if>
            <if test="progressUserId != null" >
                progress_user_id = #{progressUserId,jdbcType=BIGINT},
            </if>
            <if test="progressUserName != null" >
                progress_user_name = #{progressUserName,jdbcType=VARCHAR},
            </if>
            <if test="progressName != null" >
                progress_name = #{progressName,jdbcType=VARCHAR},
            </if>
            <if test="progressDesc != null" >
                progress_desc = #{progressDesc,jdbcType=VARCHAR},
            </if>
            <if test="progressTime != null" >
                progress_time = #{progressTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null" >
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="stateStr != null" >
                state_str = #{stateStr,jdbcType=VARCHAR},
            </if>
            <if test="details != null" >
                details = #{details,jdbcType=VARCHAR},
            </if>
            <if test="progressType != null" >
                progress_type = #{progressType,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.FinancialReProgres" >
        update financial_re_progres
        set financial_re_apply_id = #{financialReApplyId,jdbcType=BIGINT},
        progress_user_id = #{progressUserId,jdbcType=BIGINT},
        progress_user_name = #{progressUserName,jdbcType=VARCHAR},
        progress_name = #{progressName,jdbcType=VARCHAR},
        progress_desc = #{progressDesc,jdbcType=VARCHAR},
        progress_time = #{progressTime,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
        state_str = #{stateStr,jdbcType=VARCHAR},
        details = #{details,jdbcType=VARCHAR},
        progress_type = #{progressType,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>



    <sql id="joins">

    </sql>
    <sql id="wheres">
        <if test="financialReApplyId != null" >
            and financial_re_apply_id = #{financialReApplyId,jdbcType=BIGINT}
        </if>
        <if test="progressUserId != null" >
            and progress_user_id = #{progressUserId,jdbcType=BIGINT}
        </if>
    </sql>
    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from financial_re_progres
        <include refid="joins" />
        where delete_flag = 0
        <include refid="wheres" />
        order by id desc
        <if test="pageIndex != null and pageSize != null">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>
    <select id="listSize" parameterType="map" resultType="int">
        select
        count(1)
        from financial_re_progres
        <include refid="joins" />
        where delete_flag = 0
        <include refid="wheres" />
    </select>
</mapper>