<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.fina.dao.FinaApplicantTrackMapper" >
    <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.fina.model.FinaApplicantTrack" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="fina_id" property="finaId" jdbcType="BIGINT" />
        <result column="fina_info_id" property="finaInfoId" jdbcType="BIGINT" />
        <result column="track_desc" property="trackDesc" jdbcType="VARCHAR" />
        <result column="track_ftime" property="trackFtime" jdbcType="TIMESTAMP" />
        <result column="track_user_id" property="trackUserId" jdbcType="BIGINT" />
        <result column="track_user_name" property="trackUserName" jdbcType="VARCHAR" />
        <result column="next_track_time" property="nextTrackTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, fina_id, fina_info_id, track_desc, track_ftime, track_user_id, track_user_name,
        next_track_time, create_time, create_by, update_time, update_by, delete_flag
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from fina_applicant_track
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from fina_applicant_track
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.lefancrm.apicenter.fina.model.FinaApplicantTrack" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into fina_applicant_track (fina_id, fina_info_id, track_desc,
        track_ftime, track_user_id, track_user_name,
        next_track_time, create_time, create_by,
        update_time, update_by, delete_flag
        )
        values (#{finaId,jdbcType=BIGINT}, #{finaInfoId,jdbcType=BIGINT}, #{trackDesc,jdbcType=VARCHAR},
        #{trackFtime,jdbcType=TIMESTAMP}, #{trackUserId,jdbcType=BIGINT}, #{trackUserName,jdbcType=VARCHAR},
        #{nextTrackTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.lefancrm.apicenter.fina.model.FinaApplicantTrack" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into fina_applicant_track
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="finaId != null" >
                fina_id,
            </if>
            <if test="finaInfoId != null" >
                fina_info_id,
            </if>
            <if test="trackDesc != null" >
                track_desc,
            </if>
            <if test="trackFtime != null" >
                track_ftime,
            </if>
            <if test="trackUserId != null" >
                track_user_id,
            </if>
            <if test="trackUserName != null" >
                track_user_name,
            </if>
            <if test="nextTrackTime != null" >
                next_track_time,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="deleteFlag != null" >
                delete_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="finaId != null" >
                #{finaId,jdbcType=BIGINT},
            </if>
            <if test="finaInfoId != null" >
                #{finaInfoId,jdbcType=BIGINT},
            </if>
            <if test="trackDesc != null" >
                #{trackDesc,jdbcType=VARCHAR},
            </if>
            <if test="trackFtime != null" >
                #{trackFtime,jdbcType=TIMESTAMP},
            </if>
            <if test="trackUserId != null" >
                #{trackUserId,jdbcType=BIGINT},
            </if>
            <if test="trackUserName != null" >
                #{trackUserName,jdbcType=VARCHAR},
            </if>
            <if test="nextTrackTime != null" >
                #{nextTrackTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null" >
                #{deleteFlag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.fina.model.FinaApplicantTrack" >
        update fina_applicant_track
        <set >
            <if test="finaId != null" >
                fina_id = #{finaId,jdbcType=BIGINT},
            </if>
            <if test="finaInfoId != null" >
                fina_info_id = #{finaInfoId,jdbcType=BIGINT},
            </if>
            <if test="trackDesc != null" >
                track_desc = #{trackDesc,jdbcType=VARCHAR},
            </if>
            <if test="trackFtime != null" >
                track_ftime = #{trackFtime,jdbcType=TIMESTAMP},
            </if>
            <if test="trackUserId != null" >
                track_user_id = #{trackUserId,jdbcType=BIGINT},
            </if>
            <if test="trackUserName != null" >
                track_user_name = #{trackUserName,jdbcType=VARCHAR},
            </if>
            <if test="nextTrackTime != null" >
                next_track_time = #{nextTrackTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null" >
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.fina.model.FinaApplicantTrack" >
        update fina_applicant_track
        set fina_id = #{finaId,jdbcType=BIGINT},
        fina_info_id = #{finaInfoId,jdbcType=BIGINT},
        track_desc = #{trackDesc,jdbcType=VARCHAR},
        track_ftime = #{trackFtime,jdbcType=TIMESTAMP},
        track_user_id = #{trackUserId,jdbcType=BIGINT},
        track_user_name = #{trackUserName,jdbcType=VARCHAR},
        next_track_time = #{nextTrackTime,jdbcType=TIMESTAMP},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=VARCHAR},
        delete_flag = #{deleteFlag,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <sql id="joins">

    </sql>
    <sql id="wheres">
        <if test="finaId != null" >
            and a.fina_id = #{finaId,jdbcType=BIGINT}
        </if>
        <if test="finaInfoId != null" >
            and a.fina_info_id = #{finaInfoId,jdbcType=BIGINT}
        </if>
    </sql>
    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select a.*
        from fina_applicant_track a
        <include refid="joins" />
        where a.delete_flag =0
        <include refid="wheres" />
        order by a.id desc
    </select>
    <select id="listSize" parameterType="map" resultType="int">
        select
        count(1)
        from fina_applicant_track a
        <include refid="joins" />
        where a.delete_flag=0
        <include refid="wheres" />
    </select>
</mapper>