<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.fina.dao.FinaSettlementOrgMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.fina.model.FinaSettlementOrg" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="settlement_info_id" property="settlementInfoId" jdbcType="BIGINT" />
    <result column="survey_org_id" property="surveyOrgId" jdbcType="BIGINT" />
    <result column="survey_org_name" property="surveyOrgName" jdbcType="VARCHAR" />
    <result column="settlement_org_state" property="settlementOrgState" jdbcType="INTEGER" />
    <result column="org_assign_time" property="orgAssignTime" jdbcType="TIMESTAMP" />
    <result column="org_submit_time" property="orgSubmitTime" jdbcType="TIMESTAMP" />
    <result column="org_end_time" property="orgEndTime" jdbcType="TIMESTAMP" />
    <result column="org_aging" property="orgAging" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="settlement_task_type" property="settlementTaskType" jdbcType="INTEGER" />
    <result column="service_money" property="serviceMoney" jdbcType="DOUBLE" />
    <result column="over_aging" property="overAging" jdbcType="DOUBLE" />
    <result column="finsh_aging" property="finshAging" jdbcType="DOUBLE" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, settlement_info_id, survey_org_id, survey_org_name, settlement_org_state, org_assign_time,
    org_submit_time, org_end_time, org_aging, create_time, create_by, settlement_task_type,
    service_money, over_aging, finsh_aging, update_time, update_by, delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from fina_settlement_org
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fina_settlement_org
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.fina.model.FinaSettlementOrg" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fina_settlement_org (settlement_info_id, survey_org_id, survey_org_name,
    settlement_org_state, org_assign_time, org_submit_time,
    org_end_time, org_aging, create_time,
    create_by, settlement_task_type, service_money,
    over_aging, finsh_aging, update_time,
    update_by, delete_flag)
    values (#{settlementInfoId,jdbcType=BIGINT}, #{surveyOrgId,jdbcType=BIGINT}, #{surveyOrgName,jdbcType=VARCHAR},
    #{settlementOrgState,jdbcType=INTEGER}, #{orgAssignTime,jdbcType=TIMESTAMP}, #{orgSubmitTime,jdbcType=TIMESTAMP},
    #{orgEndTime,jdbcType=TIMESTAMP}, #{orgAging,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP},
    #{createBy,jdbcType=VARCHAR}, #{settlementTaskType,jdbcType=INTEGER}, #{serviceMoney,jdbcType=DOUBLE},
    #{overAging,jdbcType=DOUBLE}, #{finshAging,jdbcType=DOUBLE}, #{updateTime,jdbcType=TIMESTAMP},
    #{updateBy,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.fina.model.FinaSettlementOrg" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fina_settlement_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="settlementInfoId != null" >
        settlement_info_id,
      </if>
      <if test="surveyOrgId != null" >
        survey_org_id,
      </if>
      <if test="surveyOrgName != null" >
        survey_org_name,
      </if>
      <if test="settlementOrgState != null" >
        settlement_org_state,
      </if>
      <if test="orgAssignTime != null" >
        org_assign_time,
      </if>
      <if test="orgSubmitTime != null" >
        org_submit_time,
      </if>
      <if test="orgEndTime != null" >
        org_end_time,
      </if>
      <if test="orgAging != null" >
        org_aging,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="settlementTaskType != null" >
        settlement_task_type,
      </if>
      <if test="serviceMoney != null" >
        service_money,
      </if>
      <if test="overAging != null" >
        over_aging,
      </if>
      <if test="finshAging != null" >
        finsh_aging,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="settlementInfoId != null" >
        #{settlementInfoId,jdbcType=BIGINT},
      </if>
      <if test="surveyOrgId != null" >
        #{surveyOrgId,jdbcType=BIGINT},
      </if>
      <if test="surveyOrgName != null" >
        #{surveyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="settlementOrgState != null" >
        #{settlementOrgState,jdbcType=INTEGER},
      </if>
      <if test="orgAssignTime != null" >
        #{orgAssignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgSubmitTime != null" >
        #{orgSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgEndTime != null" >
        #{orgEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgAging != null" >
        #{orgAging,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="settlementTaskType != null" >
        #{settlementTaskType,jdbcType=INTEGER},
      </if>
      <if test="serviceMoney != null" >
        #{serviceMoney,jdbcType=DOUBLE},
      </if>
      <if test="overAging != null" >
        #{overAging,jdbcType=DOUBLE},
      </if>
      <if test="finshAging != null" >
        #{finshAging,jdbcType=DOUBLE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.fina.model.FinaSettlementOrg" >
    update fina_settlement_org
    <set >
      <if test="settlementInfoId != null" >
        settlement_info_id = #{settlementInfoId,jdbcType=BIGINT},
      </if>
      <if test="surveyOrgId != null" >
        survey_org_id = #{surveyOrgId,jdbcType=BIGINT},
      </if>
      <if test="surveyOrgName != null" >
        survey_org_name = #{surveyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="settlementOrgState != null" >
        settlement_org_state = #{settlementOrgState,jdbcType=INTEGER},
      </if>
      <if test="orgAssignTime != null" >
        org_assign_time = #{orgAssignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgSubmitTime != null" >
        org_submit_time = #{orgSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgEndTime != null" >
        org_end_time = #{orgEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgAging != null" >
        org_aging = #{orgAging,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="settlementTaskType != null" >
        settlement_task_type = #{settlementTaskType,jdbcType=INTEGER},
      </if>
      <if test="serviceMoney != null" >
        service_money = #{serviceMoney,jdbcType=DOUBLE},
      </if>
      <if test="overAging != null" >
        over_aging = #{overAging,jdbcType=DOUBLE},
      </if>
      <if test="finshAging != null" >
        finsh_aging = #{finshAging,jdbcType=DOUBLE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.fina.model.FinaSettlementOrg" >
    update fina_settlement_org
    set settlement_info_id = #{settlementInfoId,jdbcType=BIGINT},
      survey_org_id = #{surveyOrgId,jdbcType=BIGINT},
      survey_org_name = #{surveyOrgName,jdbcType=VARCHAR},
      settlement_org_state = #{settlementOrgState,jdbcType=INTEGER},
      org_assign_time = #{orgAssignTime,jdbcType=TIMESTAMP},
      org_submit_time = #{orgSubmitTime,jdbcType=TIMESTAMP},
      org_end_time = #{orgEndTime,jdbcType=TIMESTAMP},
      org_aging = #{orgAging,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      settlement_task_type = #{settlementTaskType,jdbcType=INTEGER},
      service_money = #{serviceMoney,jdbcType=DOUBLE},
      over_aging = #{overAging,jdbcType=DOUBLE},
      finsh_aging = #{finshAging,jdbcType=DOUBLE},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <sql id="wheres">
    <if test="settlementInfoId != null" >
      and a.settlement_info_id = #{settlementInfoId,jdbcType=BIGINT}
    </if>
  </sql>
  <select id="list" parameterType="map" resultMap="BaseResultMap">
    select
    a.*
    from fina_settlement_org a
    where a.delete_flag =0
    <include refid="wheres" />
    order by a.id desc
    <if test="pageIndex != null and pageSize != null">
      limit #{pageIndex}, #{pageSize}
    </if>
  </select>
</mapper>