<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.fina.dao.FinaSurveyPriceMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.fina.model.FinaSurveyPrice" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="area_categories_id" property="areaCategoriesId" jdbcType="BIGINT" />
    <result column="area_categories_name" property="areaCategoriesName" jdbcType="VARCHAR" />
    <result column="task_price" property="taskPrice" jdbcType="DOUBLE" />
    <result column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="task_info_content_id" property="taskInfoContentId" jdbcType="BIGINT" />
    <result column="task_info_content_name" property="taskInfoContentName" jdbcType="VARCHAR" />
    <result column="direction_result_type_id" property="directionResultTypeId" jdbcType="BIGINT" />
    <result column="direction_result_type_name" property="directionResultTypeName" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, area_categories_id, area_categories_name, task_price, task_id, task_name, task_info_content_id, 
    task_info_content_name, direction_result_type_id, direction_result_type_name, create_by, 
    create_by_name, create_time, update_by, update_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fina_survey_price
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fina_survey_price
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.fina.model.FinaSurveyPrice" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fina_survey_price (area_categories_id, area_categories_name, 
      task_price, task_id, task_name, 
      task_info_content_id, task_info_content_name, 
      direction_result_type_id, direction_result_type_name, 
      create_by, create_by_name, create_time, 
      update_by, update_time, delete_flag
      )
    values (#{areaCategoriesId,jdbcType=BIGINT}, #{areaCategoriesName,jdbcType=VARCHAR}, 
      #{taskPrice,jdbcType=DOUBLE}, #{taskId,jdbcType=BIGINT}, #{taskName,jdbcType=VARCHAR}, 
      #{taskInfoContentId,jdbcType=BIGINT}, #{taskInfoContentName,jdbcType=VARCHAR}, 
      #{directionResultTypeId,jdbcType=BIGINT}, #{directionResultTypeName,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=BIGINT}, #{createByName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.fina.model.FinaSurveyPrice" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fina_survey_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaCategoriesId != null" >
        area_categories_id,
      </if>
      <if test="areaCategoriesName != null" >
        area_categories_name,
      </if>
      <if test="taskPrice != null" >
        task_price,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="taskInfoContentId != null" >
        task_info_content_id,
      </if>
      <if test="taskInfoContentName != null" >
        task_info_content_name,
      </if>
      <if test="directionResultTypeId != null" >
        direction_result_type_id,
      </if>
      <if test="directionResultTypeName != null" >
        direction_result_type_name,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createByName != null" >
        create_by_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaCategoriesId != null" >
        #{areaCategoriesId,jdbcType=BIGINT},
      </if>
      <if test="areaCategoriesName != null" >
        #{areaCategoriesName,jdbcType=VARCHAR},
      </if>
      <if test="taskPrice != null" >
        #{taskPrice,jdbcType=DOUBLE},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskInfoContentId != null" >
        #{taskInfoContentId,jdbcType=BIGINT},
      </if>
      <if test="taskInfoContentName != null" >
        #{taskInfoContentName,jdbcType=VARCHAR},
      </if>
      <if test="directionResultTypeId != null" >
        #{directionResultTypeId,jdbcType=BIGINT},
      </if>
      <if test="directionResultTypeName != null" >
        #{directionResultTypeName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createByName != null" >
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
    <insert id="copyOneByPriceModelId">

        INSERT INTO fina_survey_price (area_categories_id,area_categories_name,
      task_price, task_id, task_name,
      task_info_content_id, task_info_content_name,
      direction_result_type_id, direction_result_type_name,
      create_by, create_by_name, create_time,
      update_by, update_time, delete_flag)
SELECT
	#{param1},
	area_categories_name,
	task_price,
	task_id,
	task_name,
	task_info_content_id,
	task_info_content_name,
	direction_result_type_id,
	direction_result_type_name,
	create_by,
	create_by_name,
	now(),
	update_by,
	update_time,
	delete_flag
FROM
	fina_survey_price
WHERE
	area_categories_id = #{param2}
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.fina.model.FinaSurveyPrice" >
    update fina_survey_price
    <set >
      <if test="areaCategoriesId != null" >
        area_categories_id = #{areaCategoriesId,jdbcType=BIGINT},
      </if>
      <if test="areaCategoriesName != null" >
        area_categories_name = #{areaCategoriesName,jdbcType=VARCHAR},
      </if>
      <if test="taskPrice != null" >
        task_price = #{taskPrice,jdbcType=DOUBLE},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskInfoContentId != null" >
        task_info_content_id = #{taskInfoContentId,jdbcType=BIGINT},
      </if>
      <if test="taskInfoContentName != null" >
        task_info_content_name = #{taskInfoContentName,jdbcType=VARCHAR},
      </if>
      <if test="directionResultTypeId != null" >
        direction_result_type_id = #{directionResultTypeId,jdbcType=BIGINT},
      </if>
      <if test="directionResultTypeName != null" >
        direction_result_type_name = #{directionResultTypeName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createByName != null" >
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.fina.model.FinaSurveyPrice" >
    update fina_survey_price
    set area_categories_id = #{areaCategoriesId,jdbcType=BIGINT},
      area_categories_name = #{areaCategoriesName,jdbcType=VARCHAR},
      task_price = #{taskPrice,jdbcType=DOUBLE},
      task_id = #{taskId,jdbcType=BIGINT},
      task_name = #{taskName,jdbcType=VARCHAR},
      task_info_content_id = #{taskInfoContentId,jdbcType=BIGINT},
      task_info_content_name = #{taskInfoContentName,jdbcType=VARCHAR},
      direction_result_type_id = #{directionResultTypeId,jdbcType=BIGINT},
      direction_result_type_name = #{directionResultTypeName,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="joins">

    </sql>
    <sql id="wheres">
        <if test="areaCategoriesId != null" >
            and area_categories_id = #{areaCategoriesId,jdbcType=BIGINT}
        </if>
        <if test="taskId != null" >
            and task_id = #{taskId,jdbcType=BIGINT}
        </if>
        <if test="taskInfoContentId != null" >
            and task_info_content_id = #{taskInfoContentId,jdbcType=BIGINT}
        </if>
        <if test="directionResultTypeId != null" >
            and direction_result_type_id = #{directionResultTypeId,jdbcType=BIGINT}
        </if>
    </sql>
    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from fina_survey_price
        <include refid="joins" />
        where delete_flag = 0
        <include refid="wheres" />
        order by id desc
        <if test="pageIndex != null and pageSize != null">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>
    <select id="listSize" parameterType="map" resultType="int">
        select
        count(1)
        from fina_survey_price
        <include refid="joins" />
        where delete_flag = 0
        <include refid="wheres" />
    </select>

    <select id="selectOneByInfo" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <include refid="Base_Column_List" />
        from fina_survey_price a
        where  a.delete_flag = 0
        <if test="areaCategoriesId != null" >
            and a.area_categories_id = #{areaCategoriesId,jdbcType=BIGINT}
        </if>
        <if test="taskId != null" >
            and a.task_id = #{taskId,jdbcType=BIGINT}
        </if>
        <if test="taskInfoContentId != null" >
            and a.task_info_content_id = #{taskInfoContentId,jdbcType=BIGINT}
        </if>
        <if test="directionResultTypeId != null" >
            and a.direction_result_type_id = #{directionResultTypeId,jdbcType=BIGINT}
        </if>
        limit 1;
    </select>

    <select id="selectDirectionPrice" resultMap="BaseResultMap" parameterType="java.util.Map">
      select
      <include refid="Base_Column_List" />
       from fina_survey_price p
        where p.delete_flag = 0
        and p.task_id = #{taskId,jdbcType=BIGINT}
        and p.task_info_content_id = #{taskInfoContentId,jdbcType=BIGINT}
        and p.direction_result_type_id = #{directionResultTypeId,jdbcType=BIGINT}
        and p.area_categories_id = (
                SELECT
                    c.area_categories_id
                FROM
                    survey_area_categories_area_city c
                WHERE
                    c.area_id = #{areaId,jdbcType=BIGINT}
                    AND c.price_model_id = (
                        SELECT
                            o.price_model_id
                        FROM
                            fina_survey_price_model_org o
                        WHERE
                            o.type = 1
                        AND o.org_id = #{entrustOrgId,jdbcType=BIGINT}
                        limit 1
                    )
                limit 1
        )
    </select>

    <select id="selectDirectionPriceNew" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from fina_survey_price p
        where p.delete_flag = 0
        and p.task_id = #{taskId,jdbcType=BIGINT}
        and p.task_info_content_id = #{taskInfoContentId,jdbcType=BIGINT}
        and p.direction_result_type_id = #{directionResultTypeId,jdbcType=BIGINT}
        and p.area_categories_id = (
        SELECT
        c.area_categories_id
        FROM
        survey_area_categories_area_city c
        WHERE
        c.area_id = #{areaId,jdbcType=BIGINT}
        AND c.price_model_id = (
        SELECT price_model_id FROM fina_survey_price_model_org WHERE org_id = #{surveyOrgId} AND type = 2 LIMIT 1 )
        limit 1
        )
    </select>
    <select id="selectZhongAnPrice" resultMap="BaseResultMap">
            SELECT
        p.*
    FROM
        fina_survey_price_model_org o
        LEFT JOIN fina_survey_price_model_area_categories c ON o.price_model_id = c.price_model_id
        LEFT JOIN survey_area_categories_area_city i ON i.area_categories_id = c.id
        LEFT JOIN fina_survey_price p ON c.id = p.area_categories_id
        WHERE o.org_id = 94 AND i.area_id = #{areaId} AND task_id > 9999
        AND p.delete_flag = 0
    </select>
    <select id="maxMoney" resultType="java.lang.Double">
         SELECT
        MAX(p.task_price) maxMoney
    FROM
        fina_survey_price_model_org o
        LEFT JOIN fina_survey_price_model_area_categories c ON o.price_model_id = c.price_model_id
        LEFT JOIN survey_area_categories_area_city i ON i.area_categories_id = c.id
        LEFT JOIN fina_survey_price p ON c.id = p.area_categories_id
        WHERE o.org_id = 94 AND FIND_IN_SET(i.area_id,#{param1})  AND task_id  = #{param2}
        AND p.delete_flag = 0
    </select>
    <select id="getPrice" resultType="java.lang.Double">
            SELECT
        IFNULL(p.task_price ,0) taskPrice
    FROM
        fina_survey_price_model_org o
        LEFT JOIN fina_survey_area_categories_area_city c ON o.price_model_id = c.price_model_id
        LEFT JOIN fina_survey_price p ON c.area_categories_id = p.area_categories_id
    WHERE
        o.org_id = #{param1}
        AND c.area_id = #{param3}
        AND p.task_id = #{param2}
        AND o.type = 2
        LIMIT 1
    </select>
</mapper>