<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.InfoPublishsForumFileMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.InfoPublishsForumFile" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="forum_id" property="forumId" jdbcType="BIGINT" />
    <result column="file_id" property="fileId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, forum_id, file_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from info_publishs_forum_file
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from info_publishs_forum_file
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.InfoPublishsForumFile" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into info_publishs_forum_file (forum_id, file_id)
    values (#{forumId,jdbcType=BIGINT}, #{fileId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.InfoPublishsForumFile" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into info_publishs_forum_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="forumId != null" >
        forum_id,
      </if>
      <if test="fileId != null" >
        file_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="forumId != null" >
        #{forumId,jdbcType=BIGINT},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.InfoPublishsForumFile" >
    update info_publishs_forum_file
    <set >
      <if test="forumId != null" >
        forum_id = #{forumId,jdbcType=BIGINT},
      </if>
      <if test="fileId != null" >
        file_id = #{fileId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.InfoPublishsForumFile" >
    update info_publishs_forum_file
    set forum_id = #{forumId,jdbcType=BIGINT},
      file_id = #{fileId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findByPublishsForumId" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from info_publishs_forum_file
        where forum_id = #{forumId,jdbcType=BIGINT}
        order by id desc
    </select>

</mapper>