<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.InfoSafeCompanyMapper">
    <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.InfoSafeCompany">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="safe_id" jdbcType="BIGINT" property="safeId" />
        <result column="safe_name" jdbcType="VARCHAR" property="safeName" />
        <result column="safe_tel" jdbcType="VARCHAR" property="safeTel" />
        <result column="safe_user" jdbcType="VARCHAR" property="safeUser" />
        <result column="create_by" jdbcType="BIGINT" property="createBy" />
        <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_by" jdbcType="BIGINT" property="updateBy" />
        <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    </resultMap>
    <sql id="Base_Column_List">
        id, safe_id, safe_name, safe_tel, safe_user, create_by, create_by_name, create_time,
        update_by, update_by_name, update_time, is_delete
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from info_safe_company
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from info_safe_company
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.lefancrm.apicenter.model.InfoSafeCompany">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into info_safe_company (safe_id, safe_name, safe_tel,
        safe_user, create_by, create_by_name,
        create_time, update_by, update_by_name,
        update_time, is_delete)
        values (#{safeId,jdbcType=BIGINT}, #{safeName,jdbcType=VARCHAR}, #{safeTel,jdbcType=VARCHAR},
        #{safeUser,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, #{createByName,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{updateByName,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.InfoSafeCompany">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into info_safe_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="safeId != null">
                safe_id,
            </if>
            <if test="safeName != null">
                safe_name,
            </if>
            <if test="safeTel != null">
                safe_tel,
            </if>
            <if test="safeUser != null">
                safe_user,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createByName != null">
                create_by_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateByName != null">
                update_by_name,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="safeId != null">
                #{safeId,jdbcType=BIGINT},
            </if>
            <if test="safeName != null">
                #{safeName,jdbcType=VARCHAR},
            </if>
            <if test="safeTel != null">
                #{safeTel,jdbcType=VARCHAR},
            </if>
            <if test="safeUser != null">
                #{safeUser,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createByName != null">
                #{createByName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateByName != null">
                #{updateByName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.InfoSafeCompany">
        update info_safe_company
        <set>
            <if test="safeId != null">
                safe_id = #{safeId,jdbcType=BIGINT},
            </if>
            <if test="safeName != null">
                safe_name = #{safeName,jdbcType=VARCHAR},
            </if>
            <if test="safeTel != null">
                safe_tel = #{safeTel,jdbcType=VARCHAR},
            </if>
            <if test="safeUser != null">
                safe_user = #{safeUser,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createByName != null">
                create_by_name = #{createByName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateByName != null">
                update_by_name = #{updateByName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.InfoSafeCompany">
        update info_safe_company
        set safe_id = #{safeId,jdbcType=BIGINT},
        safe_name = #{safeName,jdbcType=VARCHAR},
        safe_tel = #{safeTel,jdbcType=VARCHAR},
        safe_user = #{safeUser,jdbcType=VARCHAR},
        create_by = #{createBy,jdbcType=BIGINT},
        create_by_name = #{createByName,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=BIGINT},
        update_by_name = #{updateByName,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        is_delete = #{isDelete,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectList" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <include refid="Base_Column_List" />
        from info_safe_company
        <where>
            <if test="safeName!=null">
                and safe_name like CONCAT(CONCAT('%',#{safeName,jdbcType=VARCHAR}), '%')
            </if>
            <if test="safeTel!=null">
                and safe_tel like CONCAT(CONCAT('%',#{safeTel,jdbcType=VARCHAR}), '%')
            </if>
            <if test="safeUser!=null">
                and safe_user like CONCAT(CONCAT('%',#{safeUser,jdbcType=VARCHAR}), '%')
            </if>
            <if test="isDelete!=null">
                and is_delete = #{isDelete,jdbcType=INTEGER}
            </if>
        </where>
        order by id desc limit #{pageIndex}, #{pageSize}
    </select>

    <select id="selectListSize" resultType="int" parameterType="java.util.Map" >
        select count(1)
        from info_safe_company
        <where>
            <if test="safeName!=null">
                and safe_name like CONCAT(CONCAT('%',#{safeName,jdbcType=VARCHAR}), '%')
            </if>
            <if test="safeTel!=null">
                and safe_tel like CONCAT(CONCAT('%',#{safeTel,jdbcType=VARCHAR}), '%')
            </if>
            <if test="isDelete!=null">
                and is_delete = #{isDelete,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>