<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.StaffPostRankMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.StaffPostRank" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="rank_name" property="rankName" jdbcType="VARCHAR" />
    <result column="rank_desc" property="rankDesc" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rank_name, rank_desc, delete_flag, create_time, create_by,state
  </sql>
  <sql id="wheres">
    <if test="rankName!= null" >
      and rank_name like CONCAT(CONCAT('%',#{rankName,jdbcType=VARCHAR}), '%')
    </if>
    <if test="state!= null" >
      and state = #{state,jdbcType=INTEGER}
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from staff_post_rank
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from staff_post_rank
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.StaffPostRank" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into staff_post_rank (rank_name, rank_desc, delete_flag, 
      create_time, create_by,state)
    values (#{rankName,jdbcType=VARCHAR}, #{rankDesc,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},#{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.StaffPostRank" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into staff_post_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rankName != null" >
        rank_name,
      </if>
      <if test="rankDesc != null" >
        rank_desc,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rankName != null" >
        #{rankName,jdbcType=VARCHAR},
      </if>
      <if test="rankDesc != null" >
        #{rankDesc,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.StaffPostRank" >
    update staff_post_rank
    <set >
      <if test="rankName != null" >
        rank_name = #{rankName,jdbcType=VARCHAR},
      </if>
      <if test="rankDesc != null" >
        rank_desc = #{rankDesc,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.StaffPostRank" >
    update staff_post_rank
    set rank_name = #{rankName,jdbcType=VARCHAR},
      rank_desc = #{rankDesc,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="list" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from staff_post_rank
    where   delete_flag =0
    <include refid="wheres" />
    order by id desc
    <if test="pageIndex != null and pageSize != null">
      limit #{pageIndex}, #{pageSize}
    </if>
  </select>
  <select id="listSize" parameterType="map" resultType="int">
    select
    count(1)
    from staff_post_rank
    where  delete_flag =0
    <include refid="wheres" />
  </select>

  <select id="listAll" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from staff_post_rank
    where  delete_flag =0 and state =0
    order by id desc
  </select>


  <select id="selectByOne" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from staff_post_rank
    where rank_name = #{rankName,jdbcType=VARCHAR} limit 1;
  </select>
</mapper>