<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.SurveyInvestigatorUserReportMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.SurveyInvestigatorUserReport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="report_date" property="reportDate" jdbcType="DATE" />
    <result column="survey_org_id" property="surveyOrgId" jdbcType="BIGINT" />
    <result column="survey_org_name" property="surveyOrgName" jdbcType="VARCHAR" />
    <result column="survey_user_id" property="surveyUserId" jdbcType="BIGINT" />
    <result column="survey_user_name" property="surveyUserName" jdbcType="VARCHAR" />
    <result column="risk_case_num" property="riskCaseNum" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="efficiency" property="efficiency" jdbcType="DOUBLE" />
    <result column="positive_rate" property="positiveRate" jdbcType="DOUBLE" />
    <result column="return_rate" property="returnRate" jdbcType="DOUBLE" />
    <result column="loss_efficiency_rate" property="lossEfficiencyRate" jdbcType="DOUBLE" />
    <result column="insurance_check_case_num" property="insuranceCheckCaseNum" jdbcType="INTEGER" />
    <result column="risk_check_case_num" property="riskCheckCaseNum" jdbcType="INTEGER" />
    <result column="consignor_org_id" property="consignorOrgId" jdbcType="BIGINT" />
    <result column="consignor_org_name" property="consignorOrgName" jdbcType="VARCHAR" />
      <result column="investigation_money" property="investigationMoney" jdbcType="DOUBLE" />
      <result column="survey_org_type" property="surveyOrgType" jdbcType="INTEGER" />
      <result column="check_type" property="checkType" jdbcType="INTEGER" />
      <result column="direction_num" property="directionNum" jdbcType="INTEGER" />
      <result column="new_send" property="newSend" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, report_date, survey_org_id, survey_org_name, survey_user_id, survey_user_name, 
    risk_case_num, score, efficiency, positive_rate, return_rate, loss_efficiency_rate, 
    insurance_check_case_num, risk_check_case_num, consignor_org_id, consignor_org_name,
    investigation_money, survey_org_type, check_type, direction_num, new_send
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from survey_investigator_user_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from survey_investigator_user_report
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.SurveyInvestigatorUserReport" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_investigator_user_report (report_date, survey_org_id, survey_org_name, 
      survey_user_id, survey_user_name, risk_case_num, 
      score, efficiency, positive_rate, 
      return_rate, loss_efficiency_rate, insurance_check_case_num, 
      risk_check_case_num, consignor_org_id, consignor_org_name, investigation_money,survey_org_type,
      check_type, direction_num, new_send
      )
    values (#{reportDate,jdbcType=DATE}, #{surveyOrgId,jdbcType=BIGINT}, #{surveyOrgName,jdbcType=VARCHAR}, 
      #{surveyUserId,jdbcType=BIGINT}, #{surveyUserName,jdbcType=VARCHAR}, #{riskCaseNum,jdbcType=INTEGER}, 
      #{score,jdbcType=DOUBLE}, #{efficiency,jdbcType=DOUBLE}, #{positiveRate,jdbcType=DOUBLE}, 
      #{returnRate,jdbcType=DOUBLE}, #{lossEfficiencyRate,jdbcType=DOUBLE}, #{insuranceCheckCaseNum,jdbcType=INTEGER}, 
      #{riskCheckCaseNum,jdbcType=INTEGER}, #{consignorOrgId,jdbcType=BIGINT}, #{consignorOrgName,jdbcType=VARCHAR},
      #{investigationMoney,jdbcType=DOUBLE},#{surveyOrgType,jdbcType=INTEGER},#{checkType,jdbcType=INTEGER},
      #{directionNum,jdbcType=INTEGER}, #{newSend,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.SurveyInvestigatorUserReport" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_investigator_user_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportDate != null" >
        report_date,
      </if>
      <if test="surveyOrgId != null" >
        survey_org_id,
      </if>
      <if test="surveyOrgName != null" >
        survey_org_name,
      </if>
      <if test="surveyUserId != null" >
        survey_user_id,
      </if>
      <if test="surveyUserName != null" >
        survey_user_name,
      </if>
      <if test="riskCaseNum != null" >
        risk_case_num,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="efficiency != null" >
        efficiency,
      </if>
      <if test="positiveRate != null" >
        positive_rate,
      </if>
      <if test="returnRate != null" >
        return_rate,
      </if>
      <if test="lossEfficiencyRate != null" >
        loss_efficiency_rate,
      </if>
      <if test="insuranceCheckCaseNum != null" >
        insurance_check_case_num,
      </if>
      <if test="riskCheckCaseNum != null" >
        risk_check_case_num,
      </if>
      <if test="consignorOrgId != null" >
        consignor_org_id,
      </if>
      <if test="consignorOrgName != null" >
        consignor_org_name,
      </if>
        <if test="investigationMoney != null" >
            investigation_money,
        </if>
        <if test="surveyOrgType != null" >
            survey_org_type,
        </if>
        <if test="checkType != null" >
            check_type,
        </if>
        <if test="directionNum != null" >
            direction_num,
        </if>
        <if test="newSend != null" >
            new_send,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportDate != null" >
        #{reportDate,jdbcType=DATE},
      </if>
      <if test="surveyOrgId != null" >
        #{surveyOrgId,jdbcType=BIGINT},
      </if>
      <if test="surveyOrgName != null" >
        #{surveyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="surveyUserId != null" >
        #{surveyUserId,jdbcType=BIGINT},
      </if>
      <if test="surveyUserName != null" >
        #{surveyUserName,jdbcType=VARCHAR},
      </if>
      <if test="riskCaseNum != null" >
        #{riskCaseNum,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="efficiency != null" >
        #{efficiency,jdbcType=DOUBLE},
      </if>
      <if test="positiveRate != null" >
        #{positiveRate,jdbcType=DOUBLE},
      </if>
      <if test="returnRate != null" >
        #{returnRate,jdbcType=DOUBLE},
      </if>
      <if test="lossEfficiencyRate != null" >
        #{lossEfficiencyRate,jdbcType=DOUBLE},
      </if>
      <if test="insuranceCheckCaseNum != null" >
        #{insuranceCheckCaseNum,jdbcType=INTEGER},
      </if>
      <if test="riskCheckCaseNum != null" >
        #{riskCheckCaseNum,jdbcType=INTEGER},
      </if>
      <if test="consignorOrgId != null" >
        #{consignorOrgId,jdbcType=BIGINT},
      </if>
      <if test="consignorOrgName != null" >
        #{consignorOrgName,jdbcType=VARCHAR},
      </if>
        <if test="investigationMoney != null" >
            #{investigationMoney,jdbcType=DOUBLE},
        </if>
        <if test="surveyOrgType != null" >
            #{surveyOrgType,jdbcType=INTEGER},
        </if>
        <if test="checkType != null" >
            #{checkType,jdbcType=INTEGER},
        </if>
        <if test="directionNum != null" >
            #{directionNum,jdbcType=INTEGER},
        </if>
        <if test="newSend != null" >
            #{newSend,jdbcType=INTEGER},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.SurveyInvestigatorUserReport" >
    update survey_investigator_user_report
    <set >
      <if test="reportDate != null" >
        report_date = #{reportDate,jdbcType=DATE},
      </if>
      <if test="surveyOrgId != null" >
        survey_org_id = #{surveyOrgId,jdbcType=BIGINT},
      </if>
      <if test="surveyOrgName != null" >
        survey_org_name = #{surveyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="surveyUserId != null" >
        survey_user_id = #{surveyUserId,jdbcType=BIGINT},
      </if>
      <if test="surveyUserName != null" >
        survey_user_name = #{surveyUserName,jdbcType=VARCHAR},
      </if>
      <if test="riskCaseNum != null" >
        risk_case_num = #{riskCaseNum,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="efficiency != null" >
        efficiency = #{efficiency,jdbcType=DOUBLE},
      </if>
      <if test="positiveRate != null" >
        positive_rate = #{positiveRate,jdbcType=DOUBLE},
      </if>
      <if test="returnRate != null" >
        return_rate = #{returnRate,jdbcType=DOUBLE},
      </if>
      <if test="lossEfficiencyRate != null" >
        loss_efficiency_rate = #{lossEfficiencyRate,jdbcType=DOUBLE},
      </if>
      <if test="insuranceCheckCaseNum != null" >
        insurance_check_case_num = #{insuranceCheckCaseNum,jdbcType=INTEGER},
      </if>
      <if test="riskCheckCaseNum != null" >
        risk_check_case_num = #{riskCheckCaseNum,jdbcType=INTEGER},
      </if>
      <if test="consignorOrgId != null" >
        consignor_org_id = #{consignorOrgId,jdbcType=BIGINT},
      </if>
      <if test="consignorOrgName != null" >
        consignor_org_name = #{consignorOrgName,jdbcType=VARCHAR},
      </if>
        <if test="investigationMoney != null" >
            investigation_money = #{investigationMoney,jdbcType=DOUBLE},
        </if>
        <if test="surveyOrgType != null" >
            survey_org_type = #{surveyOrgType,jdbcType=INTEGER},
        </if>
        <if test="checkType != null" >
            check_type = #{checkType,jdbcType=INTEGER},
        </if>
        <if test="directionNum != null" >
            direction_num = #{directionNum,jdbcType=INTEGER},
        </if>
        <if test="newSend != null" >
            new_send = #{newSend,jdbcType=INTEGER},
        </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.SurveyInvestigatorUserReport" >
    update survey_investigator_user_report
    set report_date = #{reportDate,jdbcType=DATE},
      survey_org_id = #{surveyOrgId,jdbcType=BIGINT},
      survey_org_name = #{surveyOrgName,jdbcType=VARCHAR},
      survey_user_id = #{surveyUserId,jdbcType=BIGINT},
      survey_user_name = #{surveyUserName,jdbcType=VARCHAR},
      risk_case_num = #{riskCaseNum,jdbcType=INTEGER},
      score = #{score,jdbcType=DOUBLE},
      efficiency = #{efficiency,jdbcType=DOUBLE},
      positive_rate = #{positiveRate,jdbcType=DOUBLE},
      return_rate = #{returnRate,jdbcType=DOUBLE},
      loss_efficiency_rate = #{lossEfficiencyRate,jdbcType=DOUBLE},
      insurance_check_case_num = #{insuranceCheckCaseNum,jdbcType=INTEGER},
      risk_check_case_num = #{riskCheckCaseNum,jdbcType=INTEGER},
      consignor_org_id = #{consignorOrgId,jdbcType=BIGINT},
      consignor_org_name = #{consignorOrgName,jdbcType=VARCHAR},
      investigation_money = #{investigationMoney,jdbcType=DOUBLE},
      survey_org_type = #{surveyOrgType,jdbcType=INTEGER},
      direction_num = #{directionNum,jdbcType=INTEGER},
      check_type = #{checkType,jdbcType=INTEGER},
      new_send = #{newSend,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="wheres">
        <if test="startTime != null">
            and DATE_FORMAT(s.report_date,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startTime,jdbcType=DATE},'%Y-%m-%d')
        </if>
        <if test="endTime != null">
            and DATE_FORMAT(s.report_date,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime,jdbcType=DATE},'%Y-%m-%d')
        </if>
        <if test="surveyUserId != null">
            and s.survey_user_id = #{surveyUserId,jdbcType=BIGINT}
        </if>
        <if test="surveyOrgId != null" >
            and s.survey_org_id = #{surveyOrgId,jdbcType=BIGINT}
        </if>
        <if test="entrustOrgId != null">
            and s.consignor_org_id = #{entrustOrgId,jdbcType=BIGINT}
        </if>
        <if test="checkType != null">
            and s.check_type = #{checkType,jdbcType=BIGINT}
        </if>
    </sql>

    <sql id="wheresSurvey">
        <if test="startTime != null">
            and DATE_FORMAT(s.report_date,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startTime,jdbcType=DATE},'%Y-%m-%d')
        </if>
        <if test="endTime != null">
            and DATE_FORMAT(s.report_date,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime,jdbcType=DATE},'%Y-%m-%d')
        </if>
        <if test="surveyOrgId != null" >
            and s.survey_org_id = #{surveyOrgId,jdbcType=BIGINT}
        </if>
        <if test="entrustOrgId != null">
            and s.consignor_org_id = #{entrustOrgId,jdbcType=BIGINT}
        </if>
        <if test="checkType != null">
            and s.check_type = #{checkType,jdbcType=BIGINT}
        </if>
    </sql>

    <select id="selectAll" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.model.SurveyInvestigatorUserReport">
        SELECT
        i.user_id AS surveyUserId,
        i.real_name AS surveyUserName,
        sum(s.risk_case_num) as riskCaseNum,
        sum(s.insurance_check_case_num) as insuranceCheckCaseNum,
        sum(s.risk_check_case_num) as riskCheckCaseNum,
        sum(s.score) as score,
        avg(s.efficiency) as efficiency,
        avg(s.positive_rate) as positiveRate,
        avg(s.return_rate) as returnRate,
        avg(s.loss_efficiency_rate) as lossEfficiencyRate,
        sum(s.investigation_money) as investigationMoney,
        sum(s.direction_num) as directionNum
        FROM
        survey_investigator i
        left join survey_investigator_user_report s on s.survey_user_id= i.user_id <include refid="wheres"/>
        WHERE 1 = 1 and i.delete_flag =0
            <if test="surveyOrgId != null">
                and i.org_id = #{surveyOrgId,jdbcType=BIGINT}
            </if>
            <if test="surveyUserId != null">
                and i.user_id = #{surveyUserId,jdbcType=BIGINT}
            </if>
        GROUP BY
        i.user_id
        <if test="sortAttr == null">
            order by sum(s.score) desc,sum(s.investigation_money) desc
        </if>
        <if test="sortAttr == 1">
            <if test="sortType == 1">
                order by sum(s.score) asc
            </if>
            <if test="sortType == 2">
                order by sum(s.score) desc
            </if>
        </if>
        <if test="sortAttr == 2">
            <if test="sortType == 1">
                order by sum(s.investigation_money) asc
            </if>
            <if test="sortType == 2">
                order by sum(s.investigation_money) desc
            </if>
        </if>
        <if test="sortAttr == 3">
            <if test="sortType == 1">
                order by sum(s.insurance_check_case_num) asc,sum(s.risk_check_case_num) asc
            </if>
            <if test="sortType == 2">
                order by sum(s.insurance_check_case_num) desc,sum(s.risk_check_case_num) desc
            </if>
        </if>
        <if test="sortAttr == 4">
            <if test="sortType == 1">
                order by sum(s.direction_num) asc
            </if>
            <if test="sortType == 2">
                order by sum(s.direction_num) desc
            </if>
        </if>
        <if test="sortAttr == 5">
            <if test="sortType == 1">
                order by avg(s.positive_rate) asc
            </if>
            <if test="sortType == 2">
                order by avg(s.positive_rate) desc
            </if>
        </if>
        <if test="sortAttr == 6">
            <if test="sortType == 1">
                order by avg(s.efficiency) asc
            </if>
            <if test="sortType == 2">
                order by avg(s.efficiency) desc
            </if>
        </if>
        <if test="sortAttr == 7">
            <if test="sortType == 1">
                order by avg(s.loss_efficiency_rate) asc
            </if>
            <if test="sortType == 2">
                order by avg(s.loss_efficiency_rate) desc
            </if>
        </if>
    </select>


    <sql id="whereNew">
        <if test="orgAttr != null">
            and n.org_attr = #{orgAttr,jdbcType=INTEGER}
        </if>
        <if test="checkType == 2">
            <if test="startTime != null">
                AND date_format(r.entrust_report_end_date,'%Y-%m-%d') &gt;= date_format(#{startTime,jdbcType=DATE},'%Y-%m-%d')
            </if>
            <if test="endTime != null">
                AND date_format(r.entrust_report_end_date,'%Y-%m-%d') &lt;= date_format(#{endTime,jdbcType=DATE},'%Y-%m-%d')
            </if>
        </if>
        <if test="checkType == 1">
            <if test="startTime != null">
                AND date_format(r.entrust_report_start_date,'%Y-%m-%d') &gt;= date_format(#{startTime,jdbcType=DATE},'%Y-%m-%d')
            </if>
            <if test="endTime != null">
                AND date_format(r.entrust_report_start_date,'%Y-%m-%d') &lt;= date_format(#{endTime,jdbcType=DATE},'%Y-%m-%d')
            </if>
        </if>
        <if test="entrustOrgId != null">
            and r.entrust_org_id = #{entrustOrgId,jdbcType=BIGINT}
        </if>
        <if test="entrustOrgIds != null">
            and r.entrust_org_id in (${entrustOrgIds})
        </if>
    </sql>

    <select id="selectAllNew" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.model.SurveyInvestigatorUserReport">
        select t.user_id surveyUserId,t.real_name surveyUserName,ifnull(a.score,0) score,ifnull(b.num,0) insuranceCheckCaseNum,ifnull(c.num,0) directionNum,ifnull(d.num,0) sunNum,
                ifnull(e.aging_real,0) efficiency,ifnull(f.num,0) lossNum,ifnull(g.num,0) as returnNum,ifnull(0,0) as investigationMoney,
                ifnull(cc.num,0) hege,ifnull(ccc.num,0) you,ifnull(cccc.num,0) cha,
                ifnull(cc.score,0) hegeScore,ifnull(ccc.score,0) youScore,ifnull(cccc.score,0) chaScore
            from survey_investigator t
            left join (
                select b.user_id from bus_user_role b where b.role_id = 50 group by b.user_id
            ) ur on t.user_id = ur.user_id
            left join survey_franchisee f on t.org_id = f.id
            left join (
                select c.survey_user_id,sum(c.score) score from survey_investigator_case c
                left join survey_risk_case_info r on c.survey_info_id = r.id
                left join survey_consignor n on r.entrust_org_id = n.id
                where c.delete_flag = 0 and r.delete_flag = 0
                <include refid="whereNew"/>
                group by c.survey_user_id
            ) a on t.user_id = a.survey_user_id
<!--            left join (-->
<!--                select c.survey_user_id,sum(d.survey_money) investigation_money from survey_investigator_case c-->
<!--                left join survey_case_direction d on c.id = d.survey_investigator_case_id and d.delete_flag = 0-->
<!--                left join survey_risk_case_info r on c.survey_info_id = r.id-->
<!--                left join survey_consignor n on r.entrust_org_id = n.id-->
<!--                where c.delete_flag = 0 and r.delete_flag = 0-->
<!--                <include refid="whereNew"/>-->
<!--                group by c.survey_user_id-->
<!--            ) s on t.user_id = s.survey_user_id-->
            left join (
                select a.survey_user_id,count(1) num from (
                                select c.survey_user_id,c.survey_info_id from survey_investigator_case c
                                left join survey_risk_case_info r on c.survey_info_id = r.id
                                left join survey_consignor n on r.entrust_org_id = n.id
                                where c.delete_flag = 0 and r.delete_flag = 0
                                <include refid="whereNew"/>
                                group by c.survey_user_id,c.survey_info_id
                                ) a
                                group by a.survey_user_id
            ) b on t.user_id = b.survey_user_id
            left join (
                    select c.survey_user_id,count(1) num from survey_case_direction d
                    left join survey_investigator_case c on d.survey_investigator_case_id = c.id
                    left join survey_risk_case_info r on c.survey_info_id = r.id
                    left join survey_consignor n on r.entrust_org_id = n.id
                    where c.delete_flag = 0 and r.delete_flag = 0  and d.delete_flag = 0
                    <include refid="whereNew"/>
                    group by c.survey_user_id
            ) c on t.user_id = c.survey_user_id
            left join (
                select c.survey_user_id,count(1) num,sum(d.score) score from survey_case_direction d
                left join survey_investigator_case c on d.survey_investigator_case_id = c.id
                left join survey_risk_case_info r on c.survey_info_id = r.id
                left join survey_consignor n on r.entrust_org_id = n.id
                where c.delete_flag = 0 and r.delete_flag = 0  and d.delete_flag = 0 and d.evaluate = 1
                <include refid="whereNew"/>
                group by c.survey_user_id
            ) cc on t.user_id = cc.survey_user_id
            left join (
                select c.survey_user_id,count(1) num,sum(d.score) score from survey_case_direction d
                left join survey_investigator_case c on d.survey_investigator_case_id = c.id
                left join survey_risk_case_info r on c.survey_info_id = r.id
                left join survey_consignor n on r.entrust_org_id = n.id
                where c.delete_flag = 0 and r.delete_flag = 0  and d.delete_flag = 0 and d.evaluate = 2
                <include refid="whereNew"/>
                group by c.survey_user_id
            ) ccc on t.user_id = ccc.survey_user_id
            left join (
                select c.survey_user_id,count(1) num,sum(d.score) score from survey_case_direction d
                left join survey_investigator_case c on d.survey_investigator_case_id = c.id
                left join survey_risk_case_info r on c.survey_info_id = r.id
                left join survey_consignor n on r.entrust_org_id = n.id
                where c.delete_flag = 0 and r.delete_flag = 0  and d.delete_flag = 0 and d.evaluate = 3
                <include refid="whereNew"/>
                group by c.survey_user_id
            ) cccc on t.user_id = cccc.survey_user_id
            left join (
                    select c.survey_user_id,count(1) as num from survey_investigator_case c
                    left join survey_risk_case_info r on c.survey_info_id = r.id
                    left join survey_consignor n on r.entrust_org_id = n.id
                    where c.delete_flag = 0 and r.delete_flag = 0
                    <include refid="whereNew"/>
                    and c.is_sun = 1
                    group by c.survey_user_id
            ) d on t.user_id = d.survey_user_id
            left join (
                    select c.survey_user_id,avg(abs(c.aging_real)) as aging_real from survey_investigator_case c
                    left join survey_risk_case_info r on c.survey_info_id = r.id
                    left join survey_consignor n on r.entrust_org_id = n.id
                    where c.delete_flag = 0 and r.delete_flag = 0
                    <include refid="whereNew"/>
                    group by c.survey_user_id
            ) e on t.user_id = e.survey_user_id
            left join (
                    select c.survey_user_id,count(1) as num from survey_investigator_case c
                    left join survey_risk_case_info r on c.survey_info_id = r.id
                    left join survey_consignor n on r.entrust_org_id = n.id
                    where c.delete_flag = 0 and r.delete_flag = 0
                    <include refid="whereNew"/>
                    and c.aging_over > 0
                    group by c.survey_user_id
            ) f on t.user_id = f.survey_user_id
            left join (
                    select c.survey_user_id,count(1) as num from survey_investigator_case c
                    left join survey_risk_case_info r on c.survey_info_id = r.id
                    left join survey_consignor n on r.entrust_org_id = n.id
                    where c.delete_flag = 0 and r.delete_flag = 0
                    <include refid="whereNew"/>
                    and c.return_state > 0
                    group by c.survey_user_id
            ) g on t.user_id = g.survey_user_id
            where t.delete_flag = 0 and f.bus_type in (2,3) and ur.user_id is not null
            <if test="surveyOrgId != null">
                and (f.id = #{surveyOrgId,jdbcType=BIGINT} or f.parent_id = #{surveyOrgId,jdbcType=BIGINT})
            </if>
            <if test="surveyUserId != null">
                and t.user_id = #{surveyUserId,jdbcType=BIGINT}
            </if>

        <if test="sortAttr == null">
            order by a.score desc
        </if>
        <if test="sortAttr == 1">
            <if test="sortType == 1">
                order by a.score asc
            </if>
            <if test="sortType == 2">
                order by a.score desc
            </if>
        </if>
        <if test="sortAttr == 2">
            <if test="sortType == 1">
                order by a.score asc
            </if>
            <if test="sortType == 2">
                order by a.score desc
            </if>
        </if>
        <if test="sortAttr == 3">
            <if test="sortType == 1">
                order by b.num asc
            </if>
            <if test="sortType == 2">
                order by b.num desc
            </if>
        </if>
        <if test="sortAttr == 4">
            <if test="sortType == 1">
                order by c.num asc
            </if>
            <if test="sortType == 2">
                order by c.num desc
            </if>
        </if>
        <if test="sortAttr == 5">
            <if test="sortType == 1">
                order by d.num / b.num asc
            </if>
            <if test="sortType == 2">
                order by d.num / b.num desc
            </if>
        </if>
        <if test="sortAttr == 6">
            <if test="sortType == 1">
                order by e.aging_real asc
            </if>
            <if test="sortType == 2">
                order by e.aging_real desc
            </if>
        </if>
        <if test="sortAttr == 7">
            <if test="sortType == 1">
                order by f.num / b.num asc
            </if>
            <if test="sortType == 2">
                order by f.num / b.num desc
            </if>
        </if>
        <if test="sortAttr == 8">
            <if test="sortType == 1">
                order by ccc.num / c.num asc
            </if>
            <if test="sortType == 2">
                order by ccc.num / c.num desc
            </if>
        </if>
        <if test="sortAttr == 9">
            <if test="sortType == 1">
                order by cc.num / c.num asc
            </if>
            <if test="sortType == 2">
                order by cc.num / c.num desc
            </if>
        </if>
        <if test="sortAttr == 10">
            <if test="sortType == 1">
                order by cccc.num / c.num asc
            </if>
            <if test="sortType == 2">
                order by cccc.num / c.num desc
            </if>
        </if>
    </select>

    <select id="selectBas" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.dto.report.SurveyReportInvestigatorUserDTO">
        select
        /*待接收*/
        (select count(1) from survey_risk_case_info s left join survey_investigator_case sic on sic.survey_info_id = s.id
        where s.delete_flag = 0  and sic.delete_flag = 0 and sic.survey_state = 0
            <if test="surveyUserId != null">
                and sic.survey_user_id = #{surveyUserId,jdbcType=BIGINT}
            </if>
            <if test="entrustOrgId != null">
                and s.entrust_org_id = #{entrustOrgId,jdbcType=BIGINT}
            </if>
        ) as basNotReceive,
        /*调查中*/
        (select count(1) from survey_risk_case_info s left join survey_investigator_case sic on sic.survey_info_id = s.id
        where s.delete_flag = 0 and sic.delete_flag = 0 and sic.survey_state = 1
            <if test="surveyUserId != null">
                and sic.survey_user_id = #{surveyUserId,jdbcType=BIGINT}
            </if>
            <if test="entrustOrgId != null">
                and s.entrust_org_id = #{entrustOrgId,jdbcType=BIGINT}
            </if>
        ) as basSurveying,

        /*初审中*/
        (select count(1) from survey_risk_case_info s
            left join survey_investigator_case sic on sic.survey_info_id = s.id
            left join survey_assign_org ao on ao.survey_info_id = s.id
        where s.delete_flag = 0  and sic.delete_flag = 0 and ao.delete_flag = 0 and ao.org_survey_state = 2
            <if test="surveyUserId != null">
                and sic.survey_user_id = #{surveyUserId,jdbcType=BIGINT}
            </if>
            <if test="entrustOrgId != null">
                and s.entrust_org_id = #{entrustOrgId,jdbcType=BIGINT}
            </if>
        ) as basOrgReviewing,

        /*平台待终审*/
        (select count(1) from survey_risk_case_info s left join survey_investigator_case sic on sic.survey_info_id = s.id
        where s.delete_flag = 0 and s.survey_state in (22,30) and sic.delete_flag = 0
            <if test="surveyUserId != null">
                and sic.survey_user_id = #{surveyUserId,jdbcType=BIGINT}
            </if>
            <if test="entrustOrgId != null">
                and s.entrust_org_id = #{entrustOrgId,jdbcType=BIGINT}
            </if>
        )as basLefanApv,

        /*已调查*/
        (select count(1) from survey_risk_case_info s left join survey_investigator_case sic on sic.survey_info_id = s.id
        where s.delete_flag = 0  and sic.delete_flag = 0 and !(sic.survey_state in (0,1) or (sic.is_direction_success = 0))
            <if test="surveyUserId != null">
                and sic.survey_user_id = #{surveyUserId,jdbcType=BIGINT}
            </if>
            <if test="entrustOrgId != null">
                and s.entrust_org_id = #{entrustOrgId,jdbcType=BIGINT}
            </if>
        )as basSurveyed

        from dual
    </select>

    <select id="selectBySurveyUserId" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.model.SurveyInvestigatorUserReport">
        select
        ifnull(sum(s.risk_case_num),0) as riskCaseNum ,
        ifnull(sum(s.insurance_check_case_num),0) as insuranceCheckCaseNum ,
        ifnull(sum(s.risk_check_case_num),0) as riskCheckCaseNum ,
        ifnull(sum(s.score),0) as score ,
        ifnull(avg(s.efficiency),0) as efficiency ,
        ifnull(avg(s.positive_rate),0) as positiveRate ,
        ifnull(avg(s.return_rate),0) as returnRate ,
        ifnull(avg(s.loss_efficiency_rate),0) as lossEfficiencyRate,
        ifnull(sum(s.investigation_money),0) as investigationMoney,
        ifnull(sum(s.new_send),0) as newSend
        from survey_investigator_user_report s
        where 1=1
        <include refid="wheres"/>
    </select>

    <select id="selectAllTrend" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.model.SurveyInvestigatorUserReport">
        SELECT
        s.report_date as reportDate,
        sum(s.score) as score,
        sum(s.investigation_money) as investigationMoney
        FROM
        survey_investigator_user_report s
        WHERE 1 = 1
        <include refid="wheres"/>
        GROUP BY
        s.report_date
    </select>

    <select id="selectAllTrendNew" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.model.SurveyInvestigatorUserReport">
        select
        <if test="checkType == 2">
            date_format(a.entrust_report_end_date,'%Y-%m-%d') as reportDate,
        </if>
        <if test="checkType == 1">
            date_format(a.entrust_report_start_date,'%Y-%m-%d') as reportDate,
        </if>
        sum(ifnull(a.score,0)) as score
        from (
        select c.survey_user_id,c.survey_user_name,ifnull(c.score,0) score,r.entrust_report_end_date,r.entrust_report_start_date
        from survey_investigator_case c
        left join survey_risk_case_info r on c.survey_info_id = r.id
        left join survey_consignor n on r.entrust_org_id = n.id
        where c.delete_flag = 0 and r.delete_flag = 0
        <include refid="whereNew"/>
        ) a
        group by a.survey_user_id,
        <if test="checkType == 2">
            date_format(a.entrust_report_end_date,'%Y-%m-%d')
        </if>
        <if test="checkType == 1">
            date_format(a.entrust_report_start_date,'%Y-%m-%d')
        </if>
        <if test="surveyUserId != null">
            having a.survey_user_id = #{surveyUserId,jdbcType=BIGINT}
        </if>
    </select>

    <select id="selectMinReportDate" parameterType="java.util.Map" resultType="java.util.Date">
        select min(report_date) as minReportDate from survey_investigator_user_report
        where survey_user_id = #{surveyUserId,jdbcType=BIGINT} and consignor_org_id = #{entrustOrgId,jdbcType=BIGINT}
        and check_type = #{checkType,jdbcType=BIGINT}
    </select>
    <select id="selectMaxReportDate" parameterType="java.util.Map" resultType="java.util.Date">
        select max(report_date) as maxReportDate from survey_investigator_user_report
        where survey_user_id = #{surveyUserId,jdbcType=BIGINT} and consignor_org_id = #{entrustOrgId,jdbcType=BIGINT}
        and check_type = #{checkType,jdbcType=BIGINT}
    </select>

    <select id="selectSurveyKeyTar" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.model.SurveyInvestigatorUserReport">
        select
        -- 分值
        ifnull((select sum(s.score) from survey_investigator_user_report s where 1= 1 <include refid="wheres" />),0) as score,
        -- 案件数
        ifnull((select sum(s.risk_case_num) from survey_investigator_user_report s where 1= 1 <include refid="wheres" />),0) as riskCaseNum,
        -- 案件时效
        ifnull((select avg(s.efficiency) from survey_investigator_user_report s where 1= 1 <include refid="wheres" />),0) as efficiency,
        -- 阳性率
        ifnull((select avg(s.positive_rate) from survey_investigator_user_report s where 1= 1 <include refid="wheres" />),0) as positiveRate,
        -- 退回率
        ifnull((select avg(s.return_rate) from survey_investigator_user_report s where 1= 1 <include refid="wheres" />),0) as returnRate,
        -- 超时效占比
        ifnull((select avg(s.loss_efficiency_rate) from survey_investigator_user_report s where 1= 1 <include refid="wheres" />),0) as lossEfficiencyRate,
        -- 案件数
        ifnull((select sum(s.risk_check_case_num) from survey_investigator_user_report s where 1= 1 <include refid="wheres" />),0) as riskCheckCaseNum,
        -- 案件数
        ifnull((select sum(s.insurance_check_case_num) from survey_investigator_user_report s where 1= 1 <include refid="wheres" />),0) as insuranceCheckCaseNum,
        -- 调查费
        ifnull((select sum(s.investigation_money) from survey_investigator_user_report s where 1= 1 <include refid="wheres" />),0) as investigationMoney,
        1 as returnType
        from dual
        union all
        select
        -- 分值
        ifnull((select sum(s.score) from survey_investigator_user_report s where 1= 1 <include refid="wheresSurvey" />),0) as score,
        -- 案件数
        ifnull((select sum(s.risk_case_num) from survey_investigator_user_report s where 1= 1 <include refid="wheresSurvey" />),0) as riskCaseNum,
        -- 案件时效
        ifnull((select avg(s.efficiency) from survey_investigator_user_report s where 1= 1 <include refid="wheresSurvey" />),0) as efficiency,
        -- 阳性率
        ifnull((select avg(s.positive_rate) from survey_investigator_user_report s where 1= 1 <include refid="wheresSurvey" />),0) as positiveRate,
        -- 退回率
        ifnull((select avg(s.return_rate) from survey_investigator_user_report s where 1= 1 <include refid="wheresSurvey" />),0) as returnRate,
        -- 超时效占比
        ifnull((select avg(s.loss_efficiency_rate) from survey_investigator_user_report s where 1= 1 <include refid="wheresSurvey" />),0) as lossEfficiencyRate,
        -- 案件数
        ifnull((select sum(s.risk_check_case_num) from survey_investigator_user_report s where 1= 1 <include refid="wheresSurvey" />),0) as riskCheckCaseNum,
        -- 案件数
        ifnull((select sum(s.insurance_check_case_num) from survey_investigator_user_report s where 1= 1 <include refid="wheresSurvey" />),0) as insuranceCheckCaseNum,
        -- 调查费
        ifnull((select sum(s.investigation_money) from survey_investigator_user_report s where 1= 1 <include refid="wheresSurvey" />),0) as investigationMoney,
        2 as returnType
        from dual
        union all
        select
        -- 最大值
        -- 分值
        ifnull((select max(a.score) from (select sum(s.score) score from survey_investigator_user_report s where 1 = 1 <include refid="wheresSurvey" /> group by s.survey_user_id) a),0) as surveyMoney,
        -- 案件数
        ifnull((select max(a.risk_case_num) from (select sum(s.risk_case_num) risk_case_num from survey_investigator_user_report s where 1 = 1 <include refid="wheresSurvey" /> group by s.survey_user_id) a),0) as newSurveyCaseNum,
        -- 案件时效
        ifnull((select max(a.efficiency) from (select avg(s.efficiency) efficiency from survey_investigator_user_report s where 1 = 1 <include refid="wheresSurvey" /> group by s.survey_user_id) a),0) as lossEfficiencyRate,
        -- 阳性率
        ifnull((select max(a.positive_rate) from (select avg(s.positive_rate) positive_rate from survey_investigator_user_report s where 1 = 1 <include refid="wheresSurvey" /> group by s.survey_user_id) a),0) as positiveRate,
        -- 退回率
        ifnull((select max(a.return_rate) from (select avg(s.return_rate) return_rate from survey_investigator_user_report s where 1 = 1 <include refid="wheresSurvey" /> group by s.survey_user_id) a),0) as regional,
        -- 超时效占比
        ifnull((select max(a.loss_efficiency_rate) from (select avg(s.loss_efficiency_rate) loss_efficiency_rate from survey_investigator_user_report s where 1 = 1 <include refid="wheresSurvey" /> group by s.survey_user_id) a),0) as efficiency,
        -- 案件数
        ifnull((select max(a.risk_check_case_num) from (select sum(s.risk_check_case_num) risk_check_case_num from survey_investigator_user_report s where 1 = 1 <include refid="wheresSurvey" /> group by s.survey_user_id) a),0) as riskCheckCaseNum,
        -- 案件数
        ifnull((select max(a.insurance_check_case_num) from (select sum(s.insurance_check_case_num) insurance_check_case_num from survey_investigator_user_report s where 1 = 1 <include refid="wheresSurvey" /> group by s.survey_user_id) a),0) as insuranceCheckCaseNum,
        -- 案件数
        ifnull((select max(a.investigation_money) from (select sum(s.investigation_money) investigation_money from survey_investigator_user_report s where 1 = 1 <include refid="wheresSurvey" /> group by s.survey_user_id) a),0) as investigationMoney,
        3 as returnType
        from dual
    </select>
    <select id="selectSurveyKeyTarSurveys" parameterType="java.util.Map" resultType="int">
        select count(1) from (select count(1),s.survey_user_id from survey_investigator_user_report s where 1 = 1 <include refid="wheresSurvey"/> group by s.survey_user_id) a
    </select>
</mapper>