<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.SurveyConsignorPriceMapper" >
    <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.SurveyConsignorPrice" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="entury_id" property="enturyId" jdbcType="BIGINT" />
        <result column="entury_name" property="enturyName" jdbcType="VARCHAR" />
        <result column="task_id" property="taskId" jdbcType="BIGINT" />
        <result column="task_name" property="taskName" jdbcType="VARCHAR" />
        <result column="task_price" property="taskPrice" jdbcType="DOUBLE" />
        <result column="create_by" property="createBy" jdbcType="BIGINT" />
        <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
        <result column="area_id" property="areaId" jdbcType="INTEGER" />
        <result column="area_name" property="areaName" jdbcType="VARCHAR" />
        <result column="area_type" property="areaType" jdbcType="INTEGER" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="district" property="district" jdbcType="VARCHAR" />
        <result column="province_id" property="provinceId" jdbcType="INTEGER" />
        <result column="city_id" property="cityId" jdbcType="INTEGER" />
        <result column="district_id" property="districtId" jdbcType="INTEGER" />
        <result column="city_type" property="cityType" jdbcType="INTEGER" />
        <result column="task_info_content_id" property="taskInfoContentId" jdbcType="BIGINT" />
        <result column="task_info_content_name" property="taskInfoContentName" jdbcType="VARCHAR" />
        <result column="direction_result_type_id" property="directionResultTypeId" jdbcType="BIGINT" />
        <result column="direction_result_type_name" property="directionResultTypeName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, entury_id, entury_name, task_id, task_name, task_price, create_by, create_by_name,
        create_time, update_by, update_time, delete_flag, area_id, area_name, area_type,
        province, city, district, province_id, city_id, district_id, city_type, task_info_content_id,
        task_info_content_name, direction_result_type_id, direction_result_type_name
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from survey_consignor_price
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from survey_consignor_price
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.lefancrm.apicenter.model.SurveyConsignorPrice" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into survey_consignor_price (entury_id, entury_name, task_id,
        task_name, task_price, create_by,
        create_by_name, create_time, update_by,
        update_time, delete_flag, area_id,
        area_name, area_type, province,
        city, district, province_id,
        city_id, district_id, city_type,
        task_info_content_id, task_info_content_name,
        direction_result_type_id, direction_result_type_name
        )
        values (#{enturyId,jdbcType=BIGINT}, #{enturyName,jdbcType=VARCHAR}, #{taskId,jdbcType=BIGINT},
        #{taskName,jdbcType=VARCHAR}, #{taskPrice,jdbcType=DOUBLE}, #{createBy,jdbcType=BIGINT},
        #{createByName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT},
        #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER},
        #{areaName,jdbcType=VARCHAR}, #{areaType,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR},
        #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{provinceId,jdbcType=INTEGER},
        #{cityId,jdbcType=INTEGER}, #{districtId,jdbcType=INTEGER}, #{cityType,jdbcType=INTEGER},
        #{taskInfoContentId,jdbcType=BIGINT}, #{taskInfoContentName,jdbcType=VARCHAR},
        #{directionResultTypeId,jdbcType=BIGINT}, #{directionResultTypeName,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.SurveyConsignorPrice" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into survey_consignor_price
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="enturyId != null" >
                entury_id,
            </if>
            <if test="enturyName != null" >
                entury_name,
            </if>
            <if test="taskId != null" >
                task_id,
            </if>
            <if test="taskName != null" >
                task_name,
            </if>
            <if test="taskPrice != null" >
                task_price,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createByName != null" >
                create_by_name,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="deleteFlag != null" >
                delete_flag,
            </if>
            <if test="areaId != null" >
                area_id,
            </if>
            <if test="areaName != null" >
                area_name,
            </if>
            <if test="areaType != null" >
                area_type,
            </if>
            <if test="province != null" >
                province,
            </if>
            <if test="city != null" >
                city,
            </if>
            <if test="district != null" >
                district,
            </if>
            <if test="provinceId != null" >
                province_id,
            </if>
            <if test="cityId != null" >
                city_id,
            </if>
            <if test="districtId != null" >
                district_id,
            </if>
            <if test="cityType != null" >
                city_type,
            </if>
            <if test="taskInfoContentId != null" >
                task_info_content_id,
            </if>
            <if test="taskInfoContentName != null" >
                task_info_content_name,
            </if>
            <if test="directionResultTypeId != null" >
                direction_result_type_id,
            </if>
            <if test="directionResultTypeName != null" >
                direction_result_type_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="enturyId != null" >
                #{enturyId,jdbcType=BIGINT},
            </if>
            <if test="enturyName != null" >
                #{enturyName,jdbcType=VARCHAR},
            </if>
            <if test="taskId != null" >
                #{taskId,jdbcType=BIGINT},
            </if>
            <if test="taskName != null" >
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskPrice != null" >
                #{taskPrice,jdbcType=DOUBLE},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createByName != null" >
                #{createByName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null" >
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="areaId != null" >
                #{areaId,jdbcType=INTEGER},
            </if>
            <if test="areaName != null" >
                #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="areaType != null" >
                #{areaType,jdbcType=INTEGER},
            </if>
            <if test="province != null" >
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null" >
                #{district,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null" >
                #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null" >
                #{cityId,jdbcType=INTEGER},
            </if>
            <if test="districtId != null" >
                #{districtId,jdbcType=INTEGER},
            </if>
            <if test="cityType != null" >
                #{cityType,jdbcType=INTEGER},
            </if>
            <if test="taskInfoContentId != null" >
                #{taskInfoContentId,jdbcType=BIGINT},
            </if>
            <if test="taskInfoContentName != null" >
                #{taskInfoContentName,jdbcType=VARCHAR},
            </if>
            <if test="directionResultTypeId != null" >
                #{directionResultTypeId,jdbcType=BIGINT},
            </if>
            <if test="directionResultTypeName != null" >
                #{directionResultTypeName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.SurveyConsignorPrice" >
        update survey_consignor_price
        <set >
            <if test="enturyId != null" >
                entury_id = #{enturyId,jdbcType=BIGINT},
            </if>
            <if test="enturyName != null" >
                entury_name = #{enturyName,jdbcType=VARCHAR},
            </if>
            <if test="taskId != null" >
                task_id = #{taskId,jdbcType=BIGINT},
            </if>
            <if test="taskName != null" >
                task_name = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskPrice != null" >
                task_price = #{taskPrice,jdbcType=DOUBLE},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createByName != null" >
                create_by_name = #{createByName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null" >
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="areaId != null" >
                area_id = #{areaId,jdbcType=INTEGER},
            </if>
            <if test="areaName != null" >
                area_name = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="areaType != null" >
                area_type = #{areaType,jdbcType=INTEGER},
            </if>
            <if test="province != null" >
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null" >
                district = #{district,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null" >
                province_id = #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityId != null" >
                city_id = #{cityId,jdbcType=INTEGER},
            </if>
            <if test="districtId != null" >
                district_id = #{districtId,jdbcType=INTEGER},
            </if>
            <if test="cityType != null" >
                city_type = #{cityType,jdbcType=INTEGER},
            </if>
            <if test="taskInfoContentId != null" >
                task_info_content_id = #{taskInfoContentId,jdbcType=BIGINT},
            </if>
            <if test="taskInfoContentName != null" >
                task_info_content_name = #{taskInfoContentName,jdbcType=VARCHAR},
            </if>
            <if test="directionResultTypeId != null" >
                direction_result_type_id = #{directionResultTypeId,jdbcType=BIGINT},
            </if>
            <if test="directionResultTypeName != null" >
                direction_result_type_name = #{directionResultTypeName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.SurveyConsignorPrice" >
        update survey_consignor_price
        set entury_id = #{enturyId,jdbcType=BIGINT},
        entury_name = #{enturyName,jdbcType=VARCHAR},
        task_id = #{taskId,jdbcType=BIGINT},
        task_name = #{taskName,jdbcType=VARCHAR},
        task_price = #{taskPrice,jdbcType=DOUBLE},
        create_by = #{createBy,jdbcType=BIGINT},
        create_by_name = #{createByName,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=BIGINT},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
        area_id = #{areaId,jdbcType=INTEGER},
        area_name = #{areaName,jdbcType=VARCHAR},
        area_type = #{areaType,jdbcType=INTEGER},
        province = #{province,jdbcType=VARCHAR},
        city = #{city,jdbcType=VARCHAR},
        district = #{district,jdbcType=VARCHAR},
        province_id = #{provinceId,jdbcType=INTEGER},
        city_id = #{cityId,jdbcType=INTEGER},
        district_id = #{districtId,jdbcType=INTEGER},
        city_type = #{cityType,jdbcType=INTEGER},
        task_info_content_id = #{taskInfoContentId,jdbcType=BIGINT},
        task_info_content_name = #{taskInfoContentName,jdbcType=VARCHAR},
        direction_result_type_id = #{directionResultTypeId,jdbcType=BIGINT},
        direction_result_type_name = #{directionResultTypeName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>


    <sql id="joins">

    </sql>
    <sql id="wheres">
        <if test="enturyName != null" >
            and entury_name like CONCAT(CONCAT('%',#{enturyName,jdbcType=VARCHAR}), '%')
        </if>
        <if test="enturyId != null" >
            and entury_id = #{enturyId,jdbcType=BIGINT}
        </if>
        <if test="taskId != null" >
            and task_id = #{taskId,jdbcType=BIGINT}
        </if>
        <if test="areaType != null" >
            and area_type = #{areaType,jdbcType=INTEGER}
        </if>
        <if test="areaName != null" >
            and area_name like CONCAT(CONCAT('%',#{areaName,jdbcType=VARCHAR}), '%')
        </if>
        <if test="cityType != null" >
            and city_type = #{cityType,jdbcType=INTEGER}
        </if>
        <if test="areaId != null" >
            and area_id = #{areaId,jdbcType=INTEGER}
        </if>
        <if test="taskInfoContentId != null" >
            and task_info_content_id = #{taskInfoContentId,jdbcType=BIGINT}
        </if>
        <if test="directionResultTypeId != null" >
            and direction_result_type_id = #{directionResultTypeId,jdbcType=BIGINT}
        </if>
    </sql>
    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from survey_consignor_price
        <include refid="joins" />
        where delete_flag=0
        <include refid="wheres" />
        order by area_id, city_type
        <if test="pageIndex != null and pageSize != null">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>
    <select id="listSize" parameterType="map" resultType="int">
        select
        count(1)
        from survey_consignor_price
        <include refid="joins" />
        where delete_flag=0
        <include refid="wheres" />
    </select>

    <select id="selectInfo" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        <include refid="Base_Column_List" />
        from survey_consignor_price
        where  delete_flag = 0
        <if test="enturyId != null" >
            and entury_id = #{enturyId,jdbcType=BIGINT}
        </if>
        <if test="taskId != null" >
            and task_id = #{taskId,jdbcType=BIGINT}
        </if>
        <if test="areaId != null" >
            and area_id = #{areaId,jdbcType=INTEGER}
        </if>
        <if test="cityType != null" >
            and city_type = #{cityType,jdbcType=INTEGER}
        </if>
        <if test="taskInfoContentId != null" >
            and task_info_content_id = #{taskInfoContentId,jdbcType=BIGINT}
        </if>
        <if test="directionResultTypeId != null" >
            and direction_result_type_id = #{directionResultTypeId,jdbcType=BIGINT}
        </if>
        limit 1;
    </select>

    <select id="selectListByConsignorId" resultType="com.lefancrm.apicenter.dto.SurveyConsignorPrice2Dto" parameterType="java.util.Map">
        select p.area_id as areaId, p.area_name as areaName,p.city_type as cityType,
        p.entury_id as enturyId, p.entury_name as enturyName,
        ca.city_type as areaType,
        max(case when p.task_id=18 then p.task_price else null end) as taskPriceMZ,
        max(case when p.task_id=17 then p.task_price else null end) as taskPriceQY,
        max(case when p.task_id=16 then p.task_price else null end) as taskPriceSC,
        max(case when p.task_id=15 then p.task_price else null end) as taskPriceTJ,
        max(case when p.task_id=14 then p.task_price else null end) as taskPriceKC,
        max(case when p.task_id=13 then p.task_price else null end) as taskPriceYL,
        max(case when p.task_id=12 then p.task_price else null end) as taskPriceBL,
        max(case when p.task_id=11 then p.task_price else null end) as taskPriceSD,
        max(case when p.task_id=10 then p.task_price else null end) as taskPriceYB,
        max(case when p.task_id=9  then p.task_price else null end) as taskPriceZF
        FROM survey_consignor_price p
        left join common_area ca on p.area_id = ca.area_id
        where p.entury_id = #{enturyId,jdbcType=BIGINT} and p.delete_flag =0
        GROUP BY p.area_id,p.city_type
    </select>

    <delete id="deleteByInfo" parameterType="java.util.Map" >
        delete from survey_consignor_price
        where entury_id = #{enturyId,jdbcType=BIGINT} and area_id = #{areaId,jdbcType=INTEGER}
    </delete>

    <select id="selectConsignorPrice" parameterType="Long" resultType="com.lefancrm.apicenter.dto.SurveyConsignorPrice2Dto">
        select A.area_id as areaId,A.city_type as cityType,A.str as strPirce, A.entury_id as enturyId,
        A.entury_name as enturyName, A.area_name as areaName, A.area_type as areaType
        from (
            select t.area_id,t.city_type,t.entury_id,t.entury_name,t.area_name,t.area_type,
            GROUP_CONCAT(CONCAT(t.task_id,'_',t.task_info_content_id,'_',t.direction_result_type_id,'_',t.price)) str
            from (
                SELECT
                p.entury_id,
                p.entury_name,
                p.area_id,
                p.area_name,
                p.city_type,
                p.task_id,
                p.task_info_content_id,
                p.direction_result_type_id,
                p.area_type,
                max(p.task_price) price
                FROM
                survey_consignor_price p
                where p.entury_id = #{enturyId,jdbcType=BIGINT}
                GROUP BY
                p.entury_id,
                p.area_id,
                p.city_type,
                p.task_id,
                p.task_info_content_id,
                p.direction_result_type_id
            )
        t group by t.area_id,t.city_type) A
    </select>
</mapper>