<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.SurveyAssignOrgTypeMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.SurveyAssignOrgType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="survey_id" property="surveyId" jdbcType="BIGINT" />
    <result column="survey_info_id" property="surveyInfoId" jdbcType="BIGINT" />
    <result column="survey_assign_org_id" property="surveyAssignOrgId" jdbcType="BIGINT" />
    <result column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="survey_org_id" property="surveyOrgId" jdbcType="BIGINT" />
    <result column="survey_org_name" property="surveyOrgName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, survey_id, survey_info_id, survey_assign_org_id, task_id, task_name, survey_org_id, 
    survey_org_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from survey_assign_org_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from survey_assign_org_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.SurveyAssignOrgType" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_assign_org_type (survey_id, survey_info_id, survey_assign_org_id, 
      task_id, task_name, survey_org_id, 
      survey_org_name)
    values (#{surveyId,jdbcType=BIGINT}, #{surveyInfoId,jdbcType=BIGINT}, #{surveyAssignOrgId,jdbcType=BIGINT}, 
      #{taskId,jdbcType=BIGINT}, #{taskName,jdbcType=VARCHAR}, #{surveyOrgId,jdbcType=BIGINT}, 
      #{surveyOrgName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.SurveyAssignOrgType" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_assign_org_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="surveyId != null" >
        survey_id,
      </if>
      <if test="surveyInfoId != null" >
        survey_info_id,
      </if>
      <if test="surveyAssignOrgId != null" >
        survey_assign_org_id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="surveyOrgId != null" >
        survey_org_id,
      </if>
      <if test="surveyOrgName != null" >
        survey_org_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="surveyId != null" >
        #{surveyId,jdbcType=BIGINT},
      </if>
      <if test="surveyInfoId != null" >
        #{surveyInfoId,jdbcType=BIGINT},
      </if>
      <if test="surveyAssignOrgId != null" >
        #{surveyAssignOrgId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="surveyOrgId != null" >
        #{surveyOrgId,jdbcType=BIGINT},
      </if>
      <if test="surveyOrgName != null" >
        #{surveyOrgName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.SurveyAssignOrgType" >
    update survey_assign_org_type
    <set >
      <if test="surveyId != null" >
        survey_id = #{surveyId,jdbcType=BIGINT},
      </if>
      <if test="surveyInfoId != null" >
        survey_info_id = #{surveyInfoId,jdbcType=BIGINT},
      </if>
      <if test="surveyAssignOrgId != null" >
        survey_assign_org_id = #{surveyAssignOrgId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="surveyOrgId != null" >
        survey_org_id = #{surveyOrgId,jdbcType=BIGINT},
      </if>
      <if test="surveyOrgName != null" >
        survey_org_name = #{surveyOrgName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.SurveyAssignOrgType" >
    update survey_assign_org_type
    set survey_id = #{surveyId,jdbcType=BIGINT},
      survey_info_id = #{surveyInfoId,jdbcType=BIGINT},
      survey_assign_org_id = #{surveyAssignOrgId,jdbcType=BIGINT},
      task_id = #{taskId,jdbcType=BIGINT},
      task_name = #{taskName,jdbcType=VARCHAR},
      survey_org_id = #{surveyOrgId,jdbcType=BIGINT},
      survey_org_name = #{surveyOrgName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from survey_assign_org_type
        where 1=1
        <if test="surveyId != null" >
            and survey_id = #{surveyId,jdbcType=BIGINT}
        </if>
        <if test="surveyInfoId != null" >
            and survey_info_id = #{surveyInfoId,jdbcType=BIGINT}
        </if>
        <if test="surveyAssignOrgId != null" >
            and survey_assign_org_id = #{surveyAssignOrgId,jdbcType=BIGINT}
        </if>
        <if test="taskId != null" >
            and task_id = #{taskId,jdbcType=BIGINT}
        </if>
        <if test="surveyOrgId != null" >
            and survey_org_id = #{surveyOrgId,jdbcType=BIGINT}
        </if>
    </select>
</mapper>