<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.SurveyServiceConsignorReportMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.SurveyServiceConsignorReport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="report_date" property="reportDate" jdbcType="DATE" />
    <result column="service_type_id" property="serviceTypeId" jdbcType="BIGINT" />
    <result column="service_type_name" property="serviceTypeName" jdbcType="VARCHAR" />
    <result column="entrust_case_num" property="entrustCaseNum" jdbcType="INTEGER" />
    <result column="check_case_num" property="checkCaseNum" jdbcType="INTEGER" />
    <result column="consignor_org_id" property="consignorOrgId" jdbcType="BIGINT" />
    <result column="consignor_org_name" property="consignorOrgName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, report_date, service_type_id, service_type_name, entrust_case_num, check_case_num, 
    consignor_org_id, consignor_org_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from survey_service_consignor_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from survey_service_consignor_report
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.SurveyServiceConsignorReport" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_service_consignor_report (report_date, service_type_id, service_type_name, 
      entrust_case_num, check_case_num, consignor_org_id, 
      consignor_org_name)
    values (#{reportDate,jdbcType=DATE}, #{serviceTypeId,jdbcType=BIGINT}, #{serviceTypeName,jdbcType=VARCHAR}, 
      #{entrustCaseNum,jdbcType=INTEGER}, #{checkCaseNum,jdbcType=INTEGER}, #{consignorOrgId,jdbcType=BIGINT}, 
      #{consignorOrgName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.SurveyServiceConsignorReport" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_service_consignor_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportDate != null" >
        report_date,
      </if>
      <if test="serviceTypeId != null" >
        service_type_id,
      </if>
      <if test="serviceTypeName != null" >
        service_type_name,
      </if>
      <if test="entrustCaseNum != null" >
        entrust_case_num,
      </if>
      <if test="checkCaseNum != null" >
        check_case_num,
      </if>
      <if test="consignorOrgId != null" >
        consignor_org_id,
      </if>
      <if test="consignorOrgName != null" >
        consignor_org_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportDate != null" >
        #{reportDate,jdbcType=DATE},
      </if>
      <if test="serviceTypeId != null" >
        #{serviceTypeId,jdbcType=BIGINT},
      </if>
      <if test="serviceTypeName != null" >
        #{serviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="entrustCaseNum != null" >
        #{entrustCaseNum,jdbcType=INTEGER},
      </if>
      <if test="checkCaseNum != null" >
        #{checkCaseNum,jdbcType=INTEGER},
      </if>
      <if test="consignorOrgId != null" >
        #{consignorOrgId,jdbcType=BIGINT},
      </if>
      <if test="consignorOrgName != null" >
        #{consignorOrgName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.SurveyServiceConsignorReport" >
    update survey_service_consignor_report
    <set >
      <if test="reportDate != null" >
        report_date = #{reportDate,jdbcType=DATE},
      </if>
      <if test="serviceTypeId != null" >
        service_type_id = #{serviceTypeId,jdbcType=BIGINT},
      </if>
      <if test="serviceTypeName != null" >
        service_type_name = #{serviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="entrustCaseNum != null" >
        entrust_case_num = #{entrustCaseNum,jdbcType=INTEGER},
      </if>
      <if test="checkCaseNum != null" >
        check_case_num = #{checkCaseNum,jdbcType=INTEGER},
      </if>
      <if test="consignorOrgId != null" >
        consignor_org_id = #{consignorOrgId,jdbcType=BIGINT},
      </if>
      <if test="consignorOrgName != null" >
        consignor_org_name = #{consignorOrgName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.SurveyServiceConsignorReport" >
    update survey_service_consignor_report
    set report_date = #{reportDate,jdbcType=DATE},
      service_type_id = #{serviceTypeId,jdbcType=BIGINT},
      service_type_name = #{serviceTypeName,jdbcType=VARCHAR},
      entrust_case_num = #{entrustCaseNum,jdbcType=INTEGER},
      check_case_num = #{checkCaseNum,jdbcType=INTEGER},
      consignor_org_id = #{consignorOrgId,jdbcType=BIGINT},
      consignor_org_name = #{consignorOrgName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="wheres">
    <if test="startTime != null">
      AND date_format(s.report_date,'%Y-%m-%d') &gt;= date_format(#{startTime,jdbcType=DATE},'%Y-%m-%d')
    </if>
    <if test="endTime != null">
      AND date_format(s.report_date,'%Y-%m-%d') &lt;= date_format(#{endTime,jdbcType=DATE},'%Y-%m-%d')
    </if>
    <if test="entrustOrgId != null">
      and s.consignor_org_id = #{entrustOrgId,jdbcType=BIGINT}
    </if>
  </sql>

  <select id="selectAll" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.model.SurveyServiceConsignorReport">
    SELECT
    s.service_type_id as serviceTypeId,
    s.service_type_name as serviceTypeName,
    ifnull(sum(s.check_case_num),0) as entrustCaseNum,
    ifnull(sum(s.positive_num),0) as positiveNum
    FROM
    survey_service_consignor_report s
    WHERE 1 = 1
    <include refid="wheres"/>
    GROUP BY
    s.service_type_id,
    s.service_type_name
  </select>


  <sql id="newSqlWhere">
    <if test="orgAttr != null">
      and n.org_attr = #{orgAttr,jdbcType=INTEGER}
    </if>
    <if test="entrustOrgId != null">
      and r.entrust_org_id = #{entrustOrgId,jdbcType=BIGINT}
    </if>

    <if test="startTime != null">
      AND date_format(r.entrust_report_end_date,'%Y-%m-%d') &gt;= date_format(#{startTime,jdbcType=DATE},'%Y-%m-%d')
    </if>
    <if test="endTime != null">
      AND date_format(r.entrust_report_end_date,'%Y-%m-%d') &lt;= date_format(#{endTime,jdbcType=DATE},'%Y-%m-%d')
    </if>
    <if test="entrustOrgIds != null">
      and find_in_set(r.entrust_org_id,#{entrustOrgIds,jdbcType=VARCHAR})
    </if>
  </sql>
  <select id="selectAllNew" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.model.SurveyServiceConsignorReport">
    select r.services_id serviceTypeId,r.services_name serviceTypeName,ifnull(count(1),0) entrustCaseNum,avg(r.aging_day) agingDay
    from survey_risk_case_info r
    left join survey_consignor n on r.entrust_org_id = n.id
     where r.delete_flag = 0
    <include refid="newSqlWhere"/>
      group by  r.services_id;
  </select>

  <select id="selectAllNewSun" parameterType="java.util.Map" resultType="com.lefancrm.apicenter.model.SurveyServiceConsignorReport">
    select r.services_id serviceTypeId,r.services_name serviceTypeName,ifnull(count(1),0) positiveNum
    from survey_risk_case_info r
    left join survey_consignor n on r.entrust_org_id = n.id
    where r.delete_flag = 0 and r.is_sun = 1
    <include refid="newSqlWhere"/>
    group by  r.services_id
  </select>
</mapper>