<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.SurveyProgressMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.SurveyProgress" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="survey_id" property="surveyId" jdbcType="BIGINT" />
    <result column="survey_info_id" property="surveyInfoId" jdbcType="BIGINT" />
    <result column="progress_user_id" property="progressUserId" jdbcType="BIGINT" />
    <result column="progress_user_name" property="progressUserName" jdbcType="VARCHAR" />
    <result column="progress_name" property="progressName" jdbcType="VARCHAR" />
    <result column="progress_desc" property="progressDesc" jdbcType="VARCHAR" />
    <result column="progress_time" property="progressTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, survey_id, survey_info_id, progress_user_id, progress_user_name, progress_name, 
    progress_desc, progress_time, create_by, create_time, update_by, update_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from survey_progress
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from survey_progress
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.SurveyProgress" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_progress (survey_id, survey_info_id, progress_user_id, 
      progress_user_name, progress_name, progress_desc, 
      progress_time, create_by, create_time, 
      update_by, update_time, delete_flag
      )
    values (#{surveyId,jdbcType=BIGINT}, #{surveyInfoId,jdbcType=BIGINT}, #{progressUserId,jdbcType=BIGINT}, 
      #{progressUserName,jdbcType=VARCHAR}, #{progressName,jdbcType=VARCHAR}, #{progressDesc,jdbcType=VARCHAR}, 
      #{progressTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.SurveyProgress" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_progress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="surveyId != null" >
        survey_id,
      </if>
      <if test="surveyInfoId != null" >
        survey_info_id,
      </if>
      <if test="progressUserId != null" >
        progress_user_id,
      </if>
      <if test="progressUserName != null" >
        progress_user_name,
      </if>
      <if test="progressName != null" >
        progress_name,
      </if>
      <if test="progressDesc != null" >
        progress_desc,
      </if>
      <if test="progressTime != null" >
        progress_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="surveyId != null" >
        #{surveyId,jdbcType=BIGINT},
      </if>
      <if test="surveyInfoId != null" >
        #{surveyInfoId,jdbcType=BIGINT},
      </if>
      <if test="progressUserId != null" >
        #{progressUserId,jdbcType=BIGINT},
      </if>
      <if test="progressUserName != null" >
        #{progressUserName,jdbcType=VARCHAR},
      </if>
      <if test="progressName != null" >
        #{progressName,jdbcType=VARCHAR},
      </if>
      <if test="progressDesc != null" >
        #{progressDesc,jdbcType=VARCHAR},
      </if>
      <if test="progressTime != null" >
        #{progressTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.SurveyProgress" >
    update survey_progress
    <set >
      <if test="surveyId != null" >
        survey_id = #{surveyId,jdbcType=BIGINT},
      </if>
      <if test="surveyInfoId != null" >
        survey_info_id = #{surveyInfoId,jdbcType=BIGINT},
      </if>
      <if test="progressUserId != null" >
        progress_user_id = #{progressUserId,jdbcType=BIGINT},
      </if>
      <if test="progressUserName != null" >
        progress_user_name = #{progressUserName,jdbcType=VARCHAR},
      </if>
      <if test="progressName != null" >
        progress_name = #{progressName,jdbcType=VARCHAR},
      </if>
      <if test="progressDesc != null" >
        progress_desc = #{progressDesc,jdbcType=VARCHAR},
      </if>
      <if test="progressTime != null" >
        progress_time = #{progressTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.SurveyProgress" >
    update survey_progress
    set survey_id = #{surveyId,jdbcType=BIGINT},
      survey_info_id = #{surveyInfoId,jdbcType=BIGINT},
      progress_user_id = #{progressUserId,jdbcType=BIGINT},
      progress_user_name = #{progressUserName,jdbcType=VARCHAR},
      progress_name = #{progressName,jdbcType=VARCHAR},
      progress_desc = #{progressDesc,jdbcType=VARCHAR},
      progress_time = #{progressTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="joins">

  </sql>
  <sql id="wheres">
      <if test="surveyId != null" >
          and survey_id = #{surveyId,jdbcType=BIGINT}
      </if>
      <if test="surveyInfoId != null" >
          and survey_info_id = #{surveyInfoId,jdbcType=BIGINT}
      </if>
      <if test="progressUserId != null" >
          and progress_user_id = #{progressUserId,jdbcType=BIGINT}
      </if>
      <if test="progressUserName != null" >
          and progress_user_name = #{progressUserName,jdbcType=VARCHAR}
      </if>
      <if test="progressName != null" >
          and progress_name = #{progressName,jdbcType=VARCHAR}
      </if>
      <if test="progressDesc != null" >
          and progress_desc = #{progressDesc,jdbcType=VARCHAR}
      </if>
      <if test="progressTime != null" >
          and progress_time = #{progressTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null" >
          and create_by = #{createBy,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
          and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null" >
          and update_by = #{updateBy,jdbcType=VARCHAR}
      </if>
      <if test="updateTime != null" >
          and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deleteFlag != null" >
          and delete_flag = #{deleteFlag,jdbcType=INTEGER}
      </if>
  </sql>
  <select id="list" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from survey_progress
    <include refid="joins" />
    where delete_flag = 0
    <include refid="wheres" />
    order by id desc
    <if test="pageIndex != null and pageSize != null">
      limit #{pageIndex}, #{pageSize}
    </if>
  </select>
  <select id="listSize" parameterType="map" resultType="int">
    select
    count(1)
    from survey_progress
    <include refid="joins" />
    where delete_flag = 0
    <include refid="wheres" />
  </select>


  <select id="selectBySurveyInfoIds" resultMap="BaseResultMap"  parameterType="java.util.List">
    select
    <include refid="Base_Column_List" />
    from survey_progress
    where 1 = 1 and progress_name like '%平台复审退回%'
    <if test="surveyInfoIds != null">
      and survey_info_id IN
      <foreach collection="surveyInfoIds" item="surveyInfoId" open="(" separator="," close=")">
        #{surveyInfoId}
      </foreach>
      order by id asc
    </if>
  </select>
</mapper>