<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.SurveyLfcoinDetailMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.SurveyLfcoinDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="lefan_coin" property="lefanCoin" jdbcType="BIGINT" />
    <result column="consume_type" property="consumeType" jdbcType="INTEGER" />
    <result column="survey_user_id" property="surveyUserId" jdbcType="BIGINT" />
    <result column="survey_user_name" property="surveyUserName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="opr_id" property="oprId" jdbcType="BIGINT" />
    <result column="opr_type" property="oprType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, lefan_coin, consume_type, survey_user_id, survey_user_name, remark, create_time, 
    opr_id, opr_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from survey_lfcoin_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from survey_lfcoin_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.SurveyLfcoinDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_lfcoin_detail (lefan_coin, consume_type, survey_user_id, 
      survey_user_name, remark, create_time, 
      opr_id, opr_type)
    values (#{lefanCoin,jdbcType=BIGINT}, #{consumeType,jdbcType=INTEGER}, #{surveyUserId,jdbcType=BIGINT}, 
      #{surveyUserName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{oprId,jdbcType=BIGINT}, #{oprType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.SurveyLfcoinDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_lfcoin_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lefanCoin != null" >
        lefan_coin,
      </if>
      <if test="consumeType != null" >
        consume_type,
      </if>
      <if test="surveyUserId != null" >
        survey_user_id,
      </if>
      <if test="surveyUserName != null" >
        survey_user_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="oprId != null" >
        opr_id,
      </if>
      <if test="oprType != null" >
        opr_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lefanCoin != null" >
        #{lefanCoin,jdbcType=BIGINT},
      </if>
      <if test="consumeType != null" >
        #{consumeType,jdbcType=INTEGER},
      </if>
      <if test="surveyUserId != null" >
        #{surveyUserId,jdbcType=BIGINT},
      </if>
      <if test="surveyUserName != null" >
        #{surveyUserName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="oprId != null" >
        #{oprId,jdbcType=BIGINT},
      </if>
      <if test="oprType != null" >
        #{oprType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.SurveyLfcoinDetail" >
    update survey_lfcoin_detail
    <set >
      <if test="lefanCoin != null" >
        lefan_coin = #{lefanCoin,jdbcType=BIGINT},
      </if>
      <if test="consumeType != null" >
        consume_type = #{consumeType,jdbcType=INTEGER},
      </if>
      <if test="surveyUserId != null" >
        survey_user_id = #{surveyUserId,jdbcType=BIGINT},
      </if>
      <if test="surveyUserName != null" >
        survey_user_name = #{surveyUserName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="oprId != null" >
        opr_id = #{oprId,jdbcType=BIGINT},
      </if>
      <if test="oprType != null" >
        opr_type = #{oprType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.SurveyLfcoinDetail" >
    update survey_lfcoin_detail
    set lefan_coin = #{lefanCoin,jdbcType=BIGINT},
      consume_type = #{consumeType,jdbcType=INTEGER},
      survey_user_id = #{surveyUserId,jdbcType=BIGINT},
      survey_user_name = #{surveyUserName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      opr_id = #{oprId,jdbcType=BIGINT},
      opr_type = #{oprType,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>