<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.SurveyOrgPrescriptionFlowMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.SurveyOrgPrescriptionFlow" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="survey_info_id" property="surveyInfoId" jdbcType="BIGINT" />
    <result column="survey_assign_org_id" property="surveyAssignOrgId" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="operate_type" property="operateType" jdbcType="INTEGER" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="days" property="days" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, survey_info_id, survey_assign_org_id, start_time, operate_type, end_time, days
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from survey_org_prescription_flow
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByAssOrgIdLimitOne" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from survey_org_prescription_flow
      where survey_assign_org_id = #{assOrgId,jdbcType=BIGINT} and operate_type = 2 and end_time is null
    </select>
    <select id="selectByInfoIdAndSurOrgId" resultMap="BaseResultMap">
        SELECT * FROM `survey_org_prescription_flow` WHERE survey_info_id = #{surveyInfoId} AND survey_assign_org_id = #{surveyAssignOrgId}
    </select>

  <select id="selectByInfoIdAndSurOrgIdPrescription" parameterType="map" resultMap="BaseResultMap">
    SELECT * FROM `survey_org_prescription_flow` WHERE survey_info_id = #{surveyInfoId} AND survey_assign_org_id = #{surveyAssignOrgId}
    ORDER BY id LIMIT  0,2
  </select>

  <select id="selectOrgAgingDayByInfoIdAndSurOrgId" resultType="java.lang.Double">
    select
    IFNULL(sum(days),0)
    from survey_org_prescription_flow
    WHERE survey_info_id = #{surveyInfoId} AND survey_assign_org_id = #{surveyAssignOrgId} and operate_type = 2 and end_time is not null
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from survey_org_prescription_flow
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByAssignOrgId">
    delete from survey_org_prescription_flow
    where survey_assign_org_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.SurveyOrgPrescriptionFlow" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_org_prescription_flow (survey_info_id, survey_assign_org_id, start_time, 
      operate_type, end_time, days
      )
    values (#{surveyInfoId,jdbcType=BIGINT}, #{surveyAssignOrgId,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{operateType,jdbcType=INTEGER}, #{endTime,jdbcType=TIMESTAMP}, #{days,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.SurveyOrgPrescriptionFlow" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_org_prescription_flow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="surveyInfoId != null" >
        survey_info_id,
      </if>
      <if test="surveyAssignOrgId != null" >
        survey_assign_org_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="operateType != null" >
        operate_type,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="days != null" >
        days,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="surveyInfoId != null" >
        #{surveyInfoId,jdbcType=BIGINT},
      </if>
      <if test="surveyAssignOrgId != null" >
        #{surveyAssignOrgId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateType != null" >
        #{operateType,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="days != null" >
        #{days,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.SurveyOrgPrescriptionFlow" >
    update survey_org_prescription_flow
    <set >
      <if test="surveyInfoId != null" >
        survey_info_id = #{surveyInfoId,jdbcType=BIGINT},
      </if>
      <if test="surveyAssignOrgId != null" >
        survey_assign_org_id = #{surveyAssignOrgId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateType != null" >
        operate_type = #{operateType,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="days != null" >
        days = #{days,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.SurveyOrgPrescriptionFlow" >
    update survey_org_prescription_flow
    set survey_info_id = #{surveyInfoId,jdbcType=BIGINT},
      survey_assign_org_id = #{surveyAssignOrgId,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      operate_type = #{operateType,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      days = #{days,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>