<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.SurveyPreReimbursementMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.SurveyPreReimbursement" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="survey_user_id" property="surveyUserId" jdbcType="BIGINT" />
    <result column="survey_user_name" property="surveyUserName" jdbcType="VARCHAR" />
    <result column="file_money" property="fileMoney" jdbcType="DOUBLE" />
    <result column="traffic_money" property="trafficMoney" jdbcType="DOUBLE" />
    <result column="total_money" property="totalMoney" jdbcType="DOUBLE" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
    <result column="pay_money" property="payMoney" jdbcType="DOUBLE" />
    <result column="night_money" property="nightMoney" jdbcType="DOUBLE" />
    <result column="mileage_money" property="mileageMoney" jdbcType="DOUBLE" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="return_text" property="returnText" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="survey_org_id" property="surveyOrgId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, survey_user_id, survey_user_name, file_money, traffic_money, total_money, state, 
    pay_date, pay_money, night_money, mileage_money,return_text,create_time,survey_org_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from survey_pre_reimbursement
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectBySelective" resultMap="BaseResultMap">
    SELECT
    r.*,
    f.name org_name,
    count( DISTINCT d.investigator_case_id ) caseCount,
    ROUND(( r.total_money / IF ( count( DISTINCT d.investigator_case_id )= 0, 1, count( DISTINCT d.investigator_case_id ))), 2 ) avgMoney,
    GROUP_CONCAT( DISTINCT u.id ) clockIds
    FROM
    survey_pre_reimbursement r
    LEFT JOIN survey_franchisee f ON r.survey_org_id = f.id
    LEFT JOIN investigator_pre_details d ON r.id = d.investigator_re_id
    LEFT JOIN survey_user_clock u ON  r.survey_user_id = u.survey_user_id AND r.survey_org_id = u.survey_org_id
    LEFT JOIN survey_clock_case c ON u.id = c.clock_id
    WHERE  d.id IS NOT NULL AND c.id IS NOT NULL AND DATE_FORMAT( r.create_time, '%Y-%m' ) = DATE_FORMAT( u.clock_time, '%Y-%m' )
    <if test="orgRole">
      <if test="orgId != null and orgId !=''">
         AND FIND_IN_SET(r.survey_org_id,(SELECT GROUP_CONCAT(id) FROM survey_franchisee WHERE id = #{orgId} or parent_id = #{orgId}))
      </if>
    </if>
    <if test="!orgRole and finance">
      and (r.state = 2 or r.state = 3)
    </if>
    <if test="preState != null and preState !=''">
      and r.state = #{preState}
    </if>
    <if test="surveyOrgIds!=null and surveyOrgIds != ''">
     AND FIND_IN_SET( r.survey_org_id, #{surveyOrgIds} )
    </if>
    <if test="investigators!=null and investigators != ''">
      and FIND_IN_SET(r.survey_user_id,#{investigators})
    </if>
    GROUP BY r.id
    ORDER BY r.id DESC
    <if test="pageIndex != null and pageSize != null">
      limit #{pageIndex}, #{pageSize}
    </if>
  </select>
  <select id="selectAllCaseTotalMoneyByUserId"
          resultMap="BaseResultMap">
	SELECT b.*,ROUND(SUM(b.file_money+ b.night_money + b.traffic_money + b.mileage_money + b.cityin_driving_money),2)total_money FROM (SELECT
	u.survey_user_id surveyUserId,u.survey_user_name surveyUserName,SUM(IFNULL( i.medical_history_money, 0 )+ IFNULL( i.troubleshooting_money, 0 )+ IFNULL( i.opc_troubleshooting_money, 0 )+ IFNULL( i.printing_money, 0 )+ IFNULL( i.other_money, 0 )) file_money,SUM(IFNULL( i.accommodatio_money, 0 )) night_money,
	SUM(IFNULL( i.cross_driving_money, 0) ) traffic_money,
	SUM(IFNULL( i.self_driving_money, 0 )+IFNULL( i.toll_money, 0 )) mileage_money,
	SUM(IFNULL( i.cityin_driving_money, 0 )) cityin_driving_money
FROM
	survey_user_clock u
	LEFT JOIN survey_clock_re_info i ON u.id = i.clock_id
WHERE
	u.survey_user_id = #{param1} and u.survey_org_id = #{param2}
	AND DATE_FORMAT( u.clock_time, '%Y-%m' ) = DATE_FORMAT(NOW(),'%Y-%m')) b
  </select>
  <select id="selectMoneyBySelective" resultMap="BaseResultMap">
	SELECT * FROM
	(SELECT ROUND(IFNULL(SUM(re_total_money),0),2) helpMoney FROM survey_clock_case WHERE entrust_type = 1 AND FIND_IN_SET(clock_id,#{clockIds}) ) a,
	(SELECT ROUND(IFNULL(SUM(re_total_money),0),2) insMoney FROM survey_clock_case WHERE entrust_type = 2 AND FIND_IN_SET(clock_id,#{clockIds})) b
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap">
    SELECT * FROM survey_pre_reimbursement WHERE survey_user_id = #{userId} and survey_org_id = #{surveyOrgId} AND DATE_FORMAT(create_time,'%Y-%m') = #{preInfoDate} limit 1;
  </select>
  <select id="selectEveryMoneyBySelective" resultType="com.lefancrm.apicenter.model.SurveyPreReimbursement">
    	SELECT SUM( cityin_driving_money ) cityinDrivingMoney,
	SUM( medical_history_money ) medicalHistoryMoney,
	SUM( troubleshooting_money ) troubleshootingMoney,
	SUM( opc_troubleshooting_money ) opcTroubleshootingMoney,
	SUM( printing_money ) printingMoney,
	SUM( accommodatio_money ) accommodatioMoney,
	SUM( cross_driving_money ) crossDrivingMoney,
	SUM( self_driving_money + toll_money ) selfDrivingMoney,
	SUM( other_money ) otherMoney FROM survey_clock_case WHERE FIND_IN_SET(clock_id,#{clockIds})
  </select>
  <select id="selectUserClockGroupOrgId" resultType="com.lefancrm.apicenter.model.SurveyInvestigator">
        SELECT
	survey_user_id userId,survey_org_id orgId
FROM
	survey_user_clock
WHERE
	survey_user_id = #{param1}
	AND DATE_FORMAT( clock_time, '%Y-%m' ) = #{param2}
GROUP BY
	survey_org_id

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from survey_pre_reimbursement
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.SurveyPreReimbursement" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_pre_reimbursement (survey_user_id, survey_user_name, file_money, 
      traffic_money, total_money, state, 
      pay_date, pay_money, night_money, 
      mileage_money,return_text,create_time,survey_org_id)
    values (#{surveyUserId,jdbcType=BIGINT}, #{surveyUserName,jdbcType=VARCHAR}, #{fileMoney,jdbcType=DOUBLE}, 
      #{trafficMoney,jdbcType=DOUBLE}, #{totalMoney,jdbcType=DOUBLE}, #{state,jdbcType=INTEGER}, 
      #{payDate,jdbcType=TIMESTAMP}, #{payMoney,jdbcType=DOUBLE}, #{nightMoney,jdbcType=DOUBLE}, 
      #{mileageMoney,jdbcType=DOUBLE},#{returnText,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{surveyOrgId})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.SurveyPreReimbursement" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_pre_reimbursement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="surveyUserId != null" >
        survey_user_id,
      </if>
      <if test="surveyUserName != null" >
        survey_user_name,
      </if>
      <if test="fileMoney != null" >
        file_money,
      </if>
      <if test="trafficMoney != null" >
        traffic_money,
      </if>
      <if test="totalMoney != null" >
        total_money,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="payDate != null" >
        pay_date,
      </if>
      <if test="payMoney != null" >
        pay_money,
      </if>
      <if test="nightMoney != null" >
        night_money,
      </if>
      <if test="mileageMoney != null" >
        mileage_money,
      </if>
      <if test="returnText != null" >
        return_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="surveyUserId != null" >
        #{surveyUserId,jdbcType=BIGINT},
      </if>
      <if test="surveyUserName != null" >
        #{surveyUserName,jdbcType=VARCHAR},
      </if>
      <if test="fileMoney != null" >
        #{fileMoney,jdbcType=DOUBLE},
      </if>
      <if test="trafficMoney != null" >
        #{trafficMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalMoney != null" >
        #{totalMoney,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="payDate != null" >
        #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payMoney != null" >
        #{payMoney,jdbcType=DOUBLE},
      </if>
      <if test="nightMoney != null" >
        #{nightMoney,jdbcType=DOUBLE},
      </if>
      <if test="mileageMoney != null" >
        #{mileageMoney,jdbcType=DOUBLE},
      </if>
      <if test="returnText != null" >
        #{returnText,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.SurveyPreReimbursement" >
    update survey_pre_reimbursement
    <set >
      <if test="surveyUserId != null" >
        survey_user_id = #{surveyUserId,jdbcType=BIGINT},
      </if>
      <if test="surveyUserName != null" >
        survey_user_name = #{surveyUserName,jdbcType=VARCHAR},
      </if>
      <if test="fileMoney != null" >
        file_money = #{fileMoney,jdbcType=DOUBLE},
      </if>
      <if test="trafficMoney != null" >
        traffic_money = #{trafficMoney,jdbcType=DOUBLE},
      </if>
      <if test="totalMoney != null" >
        total_money = #{totalMoney,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="payDate != null" >
        pay_date = #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payMoney != null" >
        pay_money = #{payMoney,jdbcType=DOUBLE},
      </if>
      <if test="nightMoney != null" >
        night_money = #{nightMoney,jdbcType=DOUBLE},
      </if>
      <if test="mileageMoney != null" >
        mileage_money = #{mileageMoney,jdbcType=DOUBLE},
      </if>
      <if test="returnText != null" >
        return_text = #{returnText,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.SurveyPreReimbursement" >
    update survey_pre_reimbursement
    set survey_user_id = #{surveyUserId,jdbcType=BIGINT},
      survey_user_name = #{surveyUserName,jdbcType=VARCHAR},
      file_money = #{fileMoney,jdbcType=DOUBLE},
      traffic_money = #{trafficMoney,jdbcType=DOUBLE},
      total_money = #{totalMoney,jdbcType=DOUBLE},
      state = #{state,jdbcType=INTEGER},
      pay_date = #{payDate,jdbcType=TIMESTAMP},
      pay_money = #{payMoney,jdbcType=DOUBLE},
      night_money = #{nightMoney,jdbcType=DOUBLE},
      mileage_money = #{mileageMoney,jdbcType=DOUBLE},
      return_text = #{returnText,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBySelect">

    UPDATE survey_pre_reimbursement r LEFT JOIN (SELECT
	#{id} id,
	SUM(IFNULL( i.medical_history_money, 0 )+ IFNULL( i.troubleshooting_money, 0 )+ IFNULL( i.printing_money, 0 )+ IFNULL( i.other_money, 0 )+ IFNULL( i.opc_troubleshooting_money, 0 )) file_money,
	SUM(IFNULL( i.accommodatio_money, 0 )) night_money,
	SUM(IFNULL( i.cross_driving_money, 0) ) traffic_money,
	SUM(IFNULL( i.self_driving_money, 0 )+IFNULL( i.toll_money, 0 )+ IFNULL( i.cityin_driving_money, 0 )) mileage_money,
	SUM(IFNULL( i.medical_history_money, 0 )+ IFNULL( i.troubleshooting_money, 0 )+ IFNULL( i.printing_money, 0 )+ IFNULL( i.other_money, 0 )+IFNULL( i.cityin_driving_money, 0 )+IFNULL( i.accommodatio_money, 0 )+IFNULL( i.cross_driving_money, 0)+IFNULL( i.self_driving_money, 0 )+IFNULL( i.toll_money, 0 )+ IFNULL( i.opc_troubleshooting_money, 0 )) total_money
FROM
	survey_user_clock u
	LEFT JOIN survey_clock_re_info i ON u.id = i.clock_id
WHERE
	u.survey_user_id = #{userId} AND u.survey_org_id = #{orgId}
	AND DATE_FORMAT( u.clock_time, '%Y-%m' ) = DATE_FORMAT((SELECT create_time FROM survey_pre_reimbursement WHERE id = #{id}),'%Y-%m') ) b ON r.id = b.id
SET r.file_money = b.file_money,r.night_money = b.night_money,r.traffic_money =b.traffic_money,r.mileage_money = b.mileage_money,r.total_money=b.total_money
WHERE r.id = #{id}



  </update>
</mapper>