<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.SurveyHelpInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.SurveyHelpInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="survey_info_id" property="surveyInfoId" jdbcType="BIGINT" />
    <result column="sun" property="sun" jdbcType="VARCHAR" />
    <result column="sun_type" property="sunType" jdbcType="VARCHAR" />
    <result column="sun_remark" property="sunRemark" jdbcType="VARCHAR" />
    <result column="cust_give" property="custGive" jdbcType="VARCHAR" />
    <result column="feed_problem" property="feedProblem" jdbcType="VARCHAR" />
    <result column="problem_remark" property="problemRemark" jdbcType="VARCHAR" />
    <result column="survey_all_remark" property="surveyAllRemark" jdbcType="VARCHAR" />
    <result column="survey_org_id" property="surveyOrgId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, survey_info_id, sun, sun_type, sun_remark, cust_give, feed_problem, problem_remark,
    survey_all_remark, survey_org_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from survey_help_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from survey_help_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.SurveyHelpInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_help_info (survey_info_id, sun, sun_type,
    sun_remark, cust_give, feed_problem,
    problem_remark, survey_all_remark, survey_org_id
    )
    values (#{surveyInfoId,jdbcType=BIGINT}, #{sun,jdbcType=VARCHAR}, #{sunType,jdbcType=VARCHAR},
    #{sunRemark,jdbcType=VARCHAR}, #{custGive,jdbcType=VARCHAR}, #{feedProblem,jdbcType=VARCHAR},
    #{problemRemark,jdbcType=VARCHAR}, #{surveyAllRemark,jdbcType=VARCHAR}, #{surveyOrgId,jdbcType=BIGINT}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.SurveyHelpInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_help_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="surveyInfoId != null" >
        survey_info_id,
      </if>
      <if test="sun != null" >
        sun,
      </if>
      <if test="sunType != null" >
        sun_type,
      </if>
      <if test="sunRemark != null" >
        sun_remark,
      </if>
      <if test="custGive != null" >
        cust_give,
      </if>
      <if test="feedProblem != null" >
        feed_problem,
      </if>
      <if test="problemRemark != null" >
        problem_remark,
      </if>
      <if test="surveyAllRemark != null" >
        survey_all_remark,
      </if>
      <if test="surveyOrgId != null" >
        survey_org_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="surveyInfoId != null" >
        #{surveyInfoId,jdbcType=BIGINT},
      </if>
      <if test="sun != null" >
        #{sun,jdbcType=VARCHAR},
      </if>
      <if test="sunType != null" >
        #{sunType,jdbcType=VARCHAR},
      </if>
      <if test="sunRemark != null" >
        #{sunRemark,jdbcType=VARCHAR},
      </if>
      <if test="custGive != null" >
        #{custGive,jdbcType=VARCHAR},
      </if>
      <if test="feedProblem != null" >
        #{feedProblem,jdbcType=VARCHAR},
      </if>
      <if test="problemRemark != null" >
        #{problemRemark,jdbcType=VARCHAR},
      </if>
      <if test="surveyAllRemark != null" >
        #{surveyAllRemark,jdbcType=VARCHAR},
      </if>
      <if test="surveyOrgId != null" >
        #{surveyOrgId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.SurveyHelpInfo" >
    update survey_help_info
    <set >
      <if test="surveyInfoId != null" >
        survey_info_id = #{surveyInfoId,jdbcType=BIGINT},
      </if>
      <if test="sun != null" >
        sun = #{sun,jdbcType=VARCHAR},
      </if>
      <if test="sunType != null" >
        sun_type = #{sunType,jdbcType=VARCHAR},
      </if>
      <if test="sunRemark != null" >
        sun_remark = #{sunRemark,jdbcType=VARCHAR},
      </if>
      <if test="custGive != null" >
        cust_give = #{custGive,jdbcType=VARCHAR},
      </if>
      <if test="feedProblem != null" >
        feed_problem = #{feedProblem,jdbcType=VARCHAR},
      </if>
      <if test="problemRemark != null" >
        problem_remark = #{problemRemark,jdbcType=VARCHAR},
      </if>
      <if test="surveyAllRemark != null" >
        survey_all_remark = #{surveyAllRemark,jdbcType=VARCHAR},
      </if>
      <if test="surveyOrgId != null" >
        survey_org_id = #{surveyOrgId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.SurveyHelpInfo" >
    update survey_help_info
    set survey_info_id = #{surveyInfoId,jdbcType=BIGINT},
      sun = #{sun,jdbcType=VARCHAR},
      sun_type = #{sunType,jdbcType=VARCHAR},
      sun_remark = #{sunRemark,jdbcType=VARCHAR},
      cust_give = #{custGive,jdbcType=VARCHAR},
      feed_problem = #{feedProblem,jdbcType=VARCHAR},
      problem_remark = #{problemRemark,jdbcType=VARCHAR},
      survey_all_remark = #{surveyAllRemark,jdbcType=VARCHAR},
      survey_org_id = #{surveyOrgId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="seletSurveyHelpInfoBySurveyInfoIdAndOrgId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from survey_help_info
    where survey_info_id = #{surveyInfoId,jdbcType=BIGINT} and survey_org_id = #{surveyOrgId,jdbcType=BIGINT}
    order by id desc limit 1
  </select>

</mapper>