<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.SurveyFwProgressMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.SurveyFwProgress" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="fw_id" property="fwId" jdbcType="BIGINT" />
    <result column="progress_user_id" property="progressUserId" jdbcType="BIGINT" />
    <result column="progress_user_name" property="progressUserName" jdbcType="VARCHAR" />
    <result column="progress_name" property="progressName" jdbcType="VARCHAR" />
    <result column="progress_desc" property="progressDesc" jdbcType="VARCHAR" />
    <result column="progress_time" property="progressTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fw_id, progress_user_id, progress_user_name, progress_name, progress_desc, progress_time, 
    create_by, create_time, update_by, update_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from survey_fw_progress
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from survey_fw_progress
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.SurveyFwProgress" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_fw_progress (fw_id, progress_user_id, progress_user_name, 
      progress_name, progress_desc, progress_time, 
      create_by, create_time, update_by, 
      update_time, delete_flag)
    values (#{fwId,jdbcType=BIGINT}, #{progressUserId,jdbcType=BIGINT}, #{progressUserName,jdbcType=VARCHAR}, 
      #{progressName,jdbcType=VARCHAR}, #{progressDesc,jdbcType=VARCHAR}, #{progressTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.SurveyFwProgress" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_fw_progress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fwId != null" >
        fw_id,
      </if>
      <if test="progressUserId != null" >
        progress_user_id,
      </if>
      <if test="progressUserName != null" >
        progress_user_name,
      </if>
      <if test="progressName != null" >
        progress_name,
      </if>
      <if test="progressDesc != null" >
        progress_desc,
      </if>
      <if test="progressTime != null" >
        progress_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fwId != null" >
        #{fwId,jdbcType=BIGINT},
      </if>
      <if test="progressUserId != null" >
        #{progressUserId,jdbcType=BIGINT},
      </if>
      <if test="progressUserName != null" >
        #{progressUserName,jdbcType=VARCHAR},
      </if>
      <if test="progressName != null" >
        #{progressName,jdbcType=VARCHAR},
      </if>
      <if test="progressDesc != null" >
        #{progressDesc,jdbcType=VARCHAR},
      </if>
      <if test="progressTime != null" >
        #{progressTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.SurveyFwProgress" >
    update survey_fw_progress
    <set >
      <if test="fwId != null" >
        fw_id = #{fwId,jdbcType=BIGINT},
      </if>
      <if test="progressUserId != null" >
        progress_user_id = #{progressUserId,jdbcType=BIGINT},
      </if>
      <if test="progressUserName != null" >
        progress_user_name = #{progressUserName,jdbcType=VARCHAR},
      </if>
      <if test="progressName != null" >
        progress_name = #{progressName,jdbcType=VARCHAR},
      </if>
      <if test="progressDesc != null" >
        progress_desc = #{progressDesc,jdbcType=VARCHAR},
      </if>
      <if test="progressTime != null" >
        progress_time = #{progressTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.SurveyFwProgress" >
    update survey_fw_progress
    set fw_id = #{fwId,jdbcType=BIGINT},
      progress_user_id = #{progressUserId,jdbcType=BIGINT},
      progress_user_name = #{progressUserName,jdbcType=VARCHAR},
      progress_name = #{progressName,jdbcType=VARCHAR},
      progress_desc = #{progressDesc,jdbcType=VARCHAR},
      progress_time = #{progressTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>



  <select id="selectByFwId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from survey_fw_progress
    where fw_id = #{fwId,jdbcType=BIGINT} order by id desc
  </select>

</mapper>