<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefancrm.apicenter.dao.SurveyCashInfoDetailMapper" >
  <resultMap id="BaseResultMap" type="com.lefancrm.apicenter.model.SurveyCashInfoDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cash_info_id" property="cashInfoId" jdbcType="BIGINT" />
    <result column="survey_id" property="surveyId" jdbcType="BIGINT" />
    <result column="survey_info_id" property="surveyInfoId" jdbcType="BIGINT" />
    <result column="survey_investigator_case_id" property="surveyInvestigatorCaseId" jdbcType="BIGINT" />
    <result column="survey_no" property="surveyNo" jdbcType="VARCHAR" />
    <result column="survey_person" property="surveyPerson" jdbcType="VARCHAR" />
    <result column="survey_person_tel" property="surveyPersonTel" jdbcType="VARCHAR" />
    <result column="survey_user_id" property="surveyUserId" jdbcType="BIGINT" />
    <result column="survey_user_name" property="surveyUserName" jdbcType="VARCHAR" />
    <result column="survey_task_money" property="surveyTaskMoney" jdbcType="DOUBLE" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
      <result column="survey_info_record_id" property="surveyInfoRecordId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cash_info_id, survey_id, survey_info_id, survey_investigator_case_id, survey_no, 
    survey_person, survey_person_tel, survey_user_id, survey_user_name, survey_task_money, 
    delete_flag,survey_info_record_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from survey_cash_info_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from survey_cash_info_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefancrm.apicenter.model.SurveyCashInfoDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_cash_info_detail (cash_info_id, survey_id, survey_info_id, 
      survey_investigator_case_id, survey_no, survey_person, 
      survey_person_tel, survey_user_id, survey_user_name, 
      survey_task_money, delete_flag,survey_info_record_id)
    values (#{cashInfoId,jdbcType=BIGINT}, #{surveyId,jdbcType=BIGINT}, #{surveyInfoId,jdbcType=BIGINT}, 
      #{surveyInvestigatorCaseId,jdbcType=BIGINT}, #{surveyNo,jdbcType=VARCHAR}, #{surveyPerson,jdbcType=VARCHAR}, 
      #{surveyPersonTel,jdbcType=VARCHAR}, #{surveyUserId,jdbcType=BIGINT}, #{surveyUserName,jdbcType=VARCHAR}, 
      #{surveyTaskMoney,jdbcType=DOUBLE}, #{deleteFlag,jdbcType=INTEGER}, #{surveyInfoRecordId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lefancrm.apicenter.model.SurveyCashInfoDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into survey_cash_info_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cashInfoId != null" >
        cash_info_id,
      </if>
      <if test="surveyId != null" >
        survey_id,
      </if>
      <if test="surveyInfoId != null" >
        survey_info_id,
      </if>
      <if test="surveyInvestigatorCaseId != null" >
        survey_investigator_case_id,
      </if>
      <if test="surveyNo != null" >
        survey_no,
      </if>
      <if test="surveyPerson != null" >
        survey_person,
      </if>
      <if test="surveyPersonTel != null" >
        survey_person_tel,
      </if>
      <if test="surveyUserId != null" >
        survey_user_id,
      </if>
      <if test="surveyUserName != null" >
        survey_user_name,
      </if>
      <if test="surveyTaskMoney != null" >
        survey_task_money,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
        <if test="surveyInfoRecordId != null" >
            survey_info_record_id,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cashInfoId != null" >
        #{cashInfoId,jdbcType=BIGINT},
      </if>
      <if test="surveyId != null" >
        #{surveyId,jdbcType=BIGINT},
      </if>
      <if test="surveyInfoId != null" >
        #{surveyInfoId,jdbcType=BIGINT},
      </if>
      <if test="surveyInvestigatorCaseId != null" >
        #{surveyInvestigatorCaseId,jdbcType=BIGINT},
      </if>
      <if test="surveyNo != null" >
        #{surveyNo,jdbcType=VARCHAR},
      </if>
      <if test="surveyPerson != null" >
        #{surveyPerson,jdbcType=VARCHAR},
      </if>
      <if test="surveyPersonTel != null" >
        #{surveyPersonTel,jdbcType=VARCHAR},
      </if>
      <if test="surveyUserId != null" >
        #{surveyUserId,jdbcType=BIGINT},
      </if>
      <if test="surveyUserName != null" >
        #{surveyUserName,jdbcType=VARCHAR},
      </if>
      <if test="surveyTaskMoney != null" >
        #{surveyTaskMoney,jdbcType=DOUBLE},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
        <if test="surveyInfoRecordId != null" >
            #{surveyInfoRecordId,jdbcType=BIGINT},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefancrm.apicenter.model.SurveyCashInfoDetail" >
    update survey_cash_info_detail
    <set >
      <if test="cashInfoId != null" >
        cash_info_id = #{cashInfoId,jdbcType=BIGINT},
      </if>
      <if test="surveyId != null" >
        survey_id = #{surveyId,jdbcType=BIGINT},
      </if>
      <if test="surveyInfoId != null" >
        survey_info_id = #{surveyInfoId,jdbcType=BIGINT},
      </if>
      <if test="surveyInvestigatorCaseId != null" >
        survey_investigator_case_id = #{surveyInvestigatorCaseId,jdbcType=BIGINT},
      </if>
      <if test="surveyNo != null" >
        survey_no = #{surveyNo,jdbcType=VARCHAR},
      </if>
      <if test="surveyPerson != null" >
        survey_person = #{surveyPerson,jdbcType=VARCHAR},
      </if>
      <if test="surveyPersonTel != null" >
        survey_person_tel = #{surveyPersonTel,jdbcType=VARCHAR},
      </if>
      <if test="surveyUserId != null" >
        survey_user_id = #{surveyUserId,jdbcType=BIGINT},
      </if>
      <if test="surveyUserName != null" >
        survey_user_name = #{surveyUserName,jdbcType=VARCHAR},
      </if>
      <if test="surveyTaskMoney != null" >
        survey_task_money = #{surveyTaskMoney,jdbcType=DOUBLE},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
        <if test="surveyInfoRecordId != null" >
            survey_info_record_id = #{surveyInfoRecordId,jdbcType=BIGINT},
        </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefancrm.apicenter.model.SurveyCashInfoDetail" >
    update survey_cash_info_detail
    set cash_info_id = #{cashInfoId,jdbcType=BIGINT},
      survey_id = #{surveyId,jdbcType=BIGINT},
      survey_info_id = #{surveyInfoId,jdbcType=BIGINT},
      survey_investigator_case_id = #{surveyInvestigatorCaseId,jdbcType=BIGINT},
      survey_no = #{surveyNo,jdbcType=VARCHAR},
      survey_person = #{surveyPerson,jdbcType=VARCHAR},
      survey_person_tel = #{surveyPersonTel,jdbcType=VARCHAR},
      survey_user_id = #{surveyUserId,jdbcType=BIGINT},
      survey_user_name = #{surveyUserName,jdbcType=VARCHAR},
      survey_task_money = #{surveyTaskMoney,jdbcType=DOUBLE},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      survey_info_record_id = #{surveyInfoRecordId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="joins">

    </sql>
    <sql id="wheres">
        <if test="cashInfoId != null" >
            and cash_info_id = #{cashInfoId,jdbcType=BIGINT}
        </if>
    </sql>
    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from survey_cash_info_detail
        <include refid="joins" />
        where delete_flag = 0
        <include refid="wheres" />
        order by id desc
        <if test="pageIndex != null and pageSize != null">
            limit #{pageIndex}, #{pageSize}
        </if>
    </select>
    <select id="listSize" parameterType="map" resultType="int">
        select
        count(1)
        from survey_cash_info_detail
        <include refid="joins" />
        where delete_flag = 0
        <include refid="wheres" />
    </select>
</mapper>